   
<%= simple_form_for([@user, @message]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.label :to_user_id %>
    <%= f.input :name %>
    <%= f.hidden_field :from_user_id, :value => @user.id %>
    <%= f.input :title %>
    <%= f.label :content %>
    <%= f.text_area :content, :cols => 20, :rows => 20 %>
    <%= f.hidden_field :thread_count, :value => 0 %>
  </div>

  <div class="form-actions">
    <%= link_to 'Cancel', user_messages_path(@user), :class => 'btn'%>
    <%= f.button :submit, 'Save', :name => 'save_button' %>
    <%= f.button :submit %>
    
  </div>
<% end %>
