<!-- This is the user inbox. -->
<div class="white-background">
<h1>Listing messages</h1>

<table>
  <tr>
    <th>To name</th>
    <th>From name</th>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user = current_user %>
<% @user.messages.each do |message| %>
  <tr>
    <td><%= message.to_name %></td>
    <td><%= message.from_name %></td>
    <td><%= message.title %></td>
    <td><%= message.content %></td>
    <td><%= link_to 'Show', user_message_path(@user, message) %></td>
    <td><%= link_to 'Edit', edit_user_message_path(@user, message) %></td>
    <td><%= link_to 'Destroy', [message.user, message], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_user_message_path(@user) %>
</div>