<!-- This is the user inbox. -->
<div class="white-background">
<div class="row-fluid">
<div class="span3" >
    <div class="nav messages-sidenav" >    
        <ul class="nav-list">
          <li><div class="compose"><button class="btn btn-block" type="button"><%= link_to 'Compose Message', new_user_message_path(@user) %></button></div></li>
          <li class="divider-horizontal"></li>
          <li><%= link_to 'Inbox', user_messages_path(@user) %></li>
          <li class="divider-horizontal"></li>
          <li><%= link_to 'Drafts', user_messages_drafts_path(@user) %></li>
          <li class="divider-horizontal"></li>
          <li class="active"><%= link_to 'Sent', user_messages_sent_path(@user)  %></li>
          <li class="divider-horizontal"></li>
          <li><%= link_to 'Archive', user_messages_archive_path(@user)  %></li>
          <li class="divider-horizontal"></li>
          <li><%= link_to 'Trash', user_messages_trash_path(@user)  %></li>
          <li class="divider-horizontal"></li>
          <li class="center-align"><%= link_to 'View Contacts', user_contacts_path(@user) %></li>
        </ul>
    </div>
</div>
<div class="span9">
<h1>Welcome to Your Sent Folder</h1>
</br>
<table class="table">
  <tr>
    <th>To name</th>
    <th>Title</th>
    <th>Date</th>
    <th></th>
  </tr>

<% @user = current_user %>
<% @messages_in_folder = @user.messages.sort_by(&:updated_at).reverse %>
<% @messages_in_folder.each do |message| %>
<% if message.folder == "sent" %>
  <tr>
    <td><%= message.to_name %></td>
    <td><%= link_to message.title,  user_message_path(@user, message) %></td>
    <td><%= message.return_time %></td>
    <td><%= link_to 'Delete', [message.user, message], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>

<% end %>
</table>

<br />

</div>
</div>
</div>