<!-- This is where individual messages are displayed. -->
<p id="notice"><%= notice %></p>

<p>
  <b>To name:</b>
  <%= @message.to_name %>
</p>

<p>
  <b>From name:</b>
  <%= @message.from_name %>
</p>

<p>
  <b>Title:</b>
  <%= @message.title %>
</p>

<p>
  <b>Content:</b>
  <%= @message.content %>
</p>


<%= render 'response' %>

<%= link_to 'Edit', edit_user_message_path(@user, @message) %> |
<%= link_to 'Back', user_messages_path(@user) %>
