<!-- This is where individual messages are displayed. -->
<div class="white-background">
<div class="row-fluid">
<div class="span3" >
    <div class="nav messages-sidenav" >    
        <ul class="nav-list">
          <li><div class="compose"><button class="btn btn-block" type="button"><%= link_to 'Compose Message', new_user_message_path(@user) %></button></div></li>
          <li class="divider-horizontal"></li>
          <li><%= link_to 'Inbox', user_messages_path(@user) %></li>
          <li class="divider-horizontal"></li>
          <li><%= link_to 'Drafts', user_messages_drafts_path(@user) %></li>
          <li class="divider-horizontal"></li>
          <li><%= link_to 'Sent', user_messages_sent_path(@user)  %></li>
          <li class="divider-horizontal"></li>
          <li><%= link_to 'Archive', user_messages_archive_path(@user)  %></li>
          <li class="divider-horizontal"></li>
          <li><%= link_to 'Trash', user_messages_trash_path(@user)  %></li>
        </ul>
    </div>
</div>
<div class="span9">

    <% @user = current_user %>
    <% @messages = @user.messages.find(:all, :conditions => { :parent_id => @message.parent_id }) %>
    <% @messages.sort_by(&:thread_count) %>
    <% if @messages[0].id == @message.id %>
    <p> There are no threads for this message </p>
    <% else %>
    <p> There are threads for this message </p>
    <% @messages.each do |message| %>
    <% if message.id == @message.id %>
    <% elsif message.id >= @message.id %>
    <p> There are more messages in this thread, <%= link_to 'view here', user_message_path(@user, @user.messages.find(@messages[-1])) %></p>
    <% else %>    
    <li class="divider-horizontal">1</li>
    <div data-toggle="collapse" data-target="#item<%= message.id %>">
    <p><b>Title: </b><%= message.title %></p>
    </div>
    <div class='collapse' id='item<%= message.id %>'>
    <p><b>From: </b><%= message.from_name %>, <b>To:</b> <%= message.to_name %></p>
    <p>Content: <%= message.content %></p>
    </div>
    <% end %>
    <% end %>
    <% end %>
    <li class="divider-horizontal"></li>
    
    <p><b>Title: </b><%= @message.title %></p>
    <p><b>From: </b><%= @message.from_name %>, <b>To: </b><%= @message.to_name %></p>
    <p><%= @message.content %></p>
        
    <div class="accordion" id="accordion1">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#one">
        Reply to Message
      </a>
    </div>
    <div id="one" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= render :partial => 'response_form' %>
      </div>
    </div>
    
<% if @message.folder == 'inbox' %>
<%= link_to 'Back', user_messages_path(@user) %>
<% elsif @message.folder == 'sent' %>
<%= link_to 'Back', user_messages_sent_path(@user) %>
<% elsif @message.folder == 'archive' %>
<%= link_to 'Back', user_messages_archive_path(@user) %>
<% elsif @message.folder == 'trash' %>
<%= link_to 'Back', user_messages_trash_path(@user) %>
<% end %>

</div>
</div>
</div>