<script>
  $(document).ready(function(){
    var num = document.getElementById('user_phone_number').value.toString();
    if (num != "" && num != "0"){ 
    alert(num);
    number = "(" +num.charAt(0)+num.charAt(1)+num.charAt(2)+ ") " 
        +num.charAt(3)+num.charAt(4)+num.charAt(5)+ "-" 
        +num.charAt(6)+num.charAt(7)+num.charAt(8)+num.charAt(9)
    document.getElementById('user_phone_number').value = number;
    }
    
    $("#edit_user").submit(function(event) {
    var number_string = document.getElementById('user_phone_number').value.replace(/[A-Za-z$-,-]/g, "").replace(/[^\d\.\-\ ]/g, '');
    if(number_String != ""){
    if(number_string.charAt(0) === '1'){
    number_string = number_string.substr(1);
    }
    var number = Number(number_string);
    document.getElementById('user_phone_number').value = number;
    }
    });
       
    $('#user_bio').simplyCountable({
    counter: '#counter',
    countable: 'characters',
    maxCount: 1000,
    strictMax: true,
    countDirection: 'up',
    safeClass: 'safe',
    overClass: 'over',
    thousandSeparator: ','});
   
    });
     
</script>

<!-- This is where we edit settings for user. -->
<div class="white-background">
<h2>Edit <%= resource_name.to_s.humanize %> Account Details</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <div class="divider-horizontal"></div>  
  <h4>Basic Account Details</h4>
  <div class="row">
  <div class="span5">
  <%=h f.input :first_name, :autofocus => true %> 
  <%=h f.input :last_name, :autofocus => true %> 
  <%=h f.input :email, :required => true %>
  <%= f.input :avatar, :label => "Upload Profile Image"%>
  </div>
  <div class="span5">
  <%=h f.input :bio,  :as => :text, :label => "Tell us a bit about yourself:", 
  :input_html => { :style => 'width: 430px', :rows => 12 }, 
  :hint => 'Note: You have used <span id="counter"></span> characters.'%>
  </div>
  </div>
  <div class="divider-horizontal"></div>
  
  <h4>Billing Information</h4>
  <% customer = current_user.customer %>
  <% if customer.present? %>
  <p>You have input a credit card. The last four digits are: <%= customer.last_4_digits %></p>
  <p><a data-toggle="modal" href="#update-card" class="btn btn-mini" type="button">Change Card</a>
  <% else %>
  <p>You have not added a credit card.</p>
  
  <p><a data-toggle="modal" href="#add-card" class="btn btn-mini" type="button">Add Card</a></p>
  <% end %>
  <div class="divider-horizontal"></div>
  
  <h4>Contact Information</h4>
  <div class="row">
  <div class="span5">
  <%=h f.input :address %>
  <%=h f.input :city %>
  <%= f.input :state, :as => :select, :collection => STATES %>
  </div>
  <div class="span5">
  <%=h f.input :website%>
  <%= f.label(:phone_number, "Phone Number") %>
  <%=h f.text_field :phone_number %>
  <%= f.input :join_mailing_list, :as => :boolean, :boolean_style => 'nested' %>
  </div>
  </div>
  <div class="divider-horizontal"></div>

  <h4>Change Your Password</h4>
  <div class="row">
  <div class="span5">
  <%=h f.input :password, :autocomplete => "off", :required => false %>
  </div>
  <div class="span5">
  <%=h f.input :password_confirmation, :required => false %>
  </div>
  </div>

  <p><a data-toggle="modal" href="#enter-password" class="btn btn-primary" type="button">Confirm Update</a>
    <div id="enter-password" class="modal" style="display: none;">
        <div class="modal-header"><a class="close" data-dismiss="modal">&#215;</a>
        <h2>Confirm Password</h2>
        </div>

        <div class="modal-body">    
        <p><b>Enter your current password to confirm changes</b></p>
        <%=h f.input :current_password, :required => true %>
        </div>
  
        <div class="modal-footer">
        <div class="actions">
        <a class="btn" data-dismiss="modal" href="#">Cancel</a>
        <%=h f.button :submit, 'Confirm', :class => 'btn-primary' %>
        </div>
        </div>
    </div>
<% end %>

<% customer = current_user.customer %>
<% if customer.present? %>
<%= render 'users/update_card_popup', :user => current_user %></p> 
<% else %>
<%= render 'users/add_card_popup', :user => current_user%> 
<% end %>

<p><b>Cancel my account</b></p>
<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>
<%= link_to "Back", :back %>

</div>