<!-- This is where we edit settings for user. -->
<div class="white-background">
<h2>Edit <%= resource_name.to_s.humanize %> Account Details</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  
  <p><b>Basic Account Details</b></p>
  <%= f.input :first_name, :autofocus => true %> 
  <%= f.input :last_name, :autofocus => true %> 
  <%= f.input :email, :required => true %>
  <%= f.input :bio %>
 
  <p><b>Your Contact Information</b></p>
  <%= f.input :address %>
  <%= f.input :city %>
  <%= f.input :state, :as => :select, :collection => ["AL","AK","AZ","AR","CA","CO","CT",
  "DE","FL","GA","HI","ID","ID","IL","IN","IA","KS","KY","LA","ME","MD","MA","MI","MN",
  "MS","MO","MT","NE","NV","NH","NJ","NM","NY","NC","ND","OH","OK","OR","PA","RI","SC",
  "SD","TN","TX","UT","VT","VA","WA","WV","WI","WY"]%>
  <%= label_tag(:website, "Website") %>
  <%= f.text_field :website %>
  <%= f.label(:phone_number, "Phone Number") %>
  <%= f.text_field :phone_number %>
  <p>Format for phone number is xxx-xxx-xxxx</p>
  <%= f.input :join_mailing_list, :as => :boolean %>

  <p><b>Change Your Password</b></p>
  <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
  <%= f.input :password_confirmation, :required => false %>

  <p><b>Enter your current password to confirm changes</b></p>
  <%= f.input :current_password, :required => true %>
  <%= f.button :submit, 'Update', :class => 'btn-primary' %>
  
<% end %>

<p><b>Cancel my account</b></p>
<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>
<%= link_to "Back", :back %>

</div>