<script>
  $(document).ready(function(){
    var raw_price = document.getElementById('horse_price').value;
    if (raw_price != ""){
    var formated_price = '$' + raw_price;
    document.getElementById('horse_price').value = formated_price;
    }
        
   var breeds = ['Akhal-Teke', 'American Saddlebred', 'American Warmblood',
    'Andalusian', 'Appaloosa', 'Arabian', 'Belgian Horse', 'Belgian Sporthorse', 
    'Belgian Warmblood', 'Black Forest Horse', 'Canadian Horse', 'Canadian Sport Horse', 
    'Canadian Warmblood', 'Caspian Horse', 'Champagne Horse', 'Chincoteague Pony', 
    'Cleveland Bay', 'Clydesdale', 'Connemara', 'Czech Warmblood', 'Dales Pony', 
    'Danish Warmblood', 'Dartmoor Pony', 'Draft', 'Dutch Warmblood', 'Fell Pony', 'Fjord', 
    'Friesian', 'German Riding Pony', 'German Warmblood', 'Grade Horse', 'Gypsy Horse', 
    'Hackney Horse', 'Hackney Pony', 'Haflinger', 'Hanoverian', 'Highland Pony', 'Holsteiner',
    'Hungarian Warmblood', 'Icelandic Horse', 'International Sporthorse', 'Irish Cob', 
    'Irish Draught', 'Irish Sport Horse', 'Kentucky Mountain', 'Lipizzan', 'Lusitano', 
    'Miniature', 'Missouri Fox Trotter Horse', 'Missouri Fox Trotter Pony', 'Morab', 
    'Morgan', 'Mountain Pleasure Horse', 'Mustang', 'National Show Horse', 'New Forest Pony',
    'New Zealand Warmblood', 'Newfoundland Pony', 'Oldenburg', 'Other', 'Paint Horse', 
    'Palomino Horse', 'Paso Fino', 'Percheron', 'Peruvian Paso', 'Pintabian', 'Pintaloosa', 
    'Pinto', 'Pinto Paso', 'Pleasure Saddle Horse Registry', 'POA', 'Pony', 'Quarab', 
    'Quarter Horse', 'Quarter Pony', 'Racking Horse', 'Rocky Mountain', 'Selle Francais', 
    'Shetland Pony', 'Shire', 'Spanish Barb', 'Spanish Mustang', 'Standardbred', 'Suffolk', 
    'Swedish Warmblood', 'Swiss Warmblood', 'Tennessee Walker', 'Thoroughbred', 'Trakehner', 
    'Warmblood', 'Welsh Cob', 'Welsh Pony'];   
    $('#horse_breed').typeahead({source: breeds});
    
    var genders = ['Mare', 'Gelding', 'Stallion'];   
    $('#horse_gender').typeahead({source: genders});
  
    var heights = [4.0, 4.1, 4.2, 4.3, 5.0, 5.1, 5.2, 5.3, 6.0, 6.1, 6.2, 6.3, 7.0, 7.1, 7.2, 
    7.3, 8.0, 8.1, 8.2, 8.3, 9.0, 9.1, 9.2, 9.3, 10.0, 10.1, 10.2, 10.3, 11.0, 11.1, 11.2, 
    11.3, 12.0, 12.1, 12.2, 12.3, 13.0, 13.1, 13.2, 13.3, 14.0, 14.1, 14.2, 14.3, 15.0, 15.1, 
    15.2, 15.3, 16.0, 16.1, 16.2, 16.3, 17.0, 17.1, 17.2, 17.3, 18.0, 18.1, 18.2, 18.3, 19.0, 
    19.1, 19.2, 19.3, 20.0];
    $('#horse_height').typeahead({source: heights});

    $('#horse_text_description').simplyCountable({
    counter: '#counter',
    countable: 'characters',
    maxCount: 1000,
    strictMax: true,
    countDirection: 'up',
    safeClass: 'safe',
    overClass: 'over',
    thousandSeparator: ','});
    
    $("#new_horse").submit(function(event) {
    var price_string = document.getElementById('horse_price').value.replace(/[A-Za-z$-,-]/g, "").replace(/[^\d\.\-\ ]/g, '');
    var price_int = Number(price_string);
    document.getElementById('horse_price').value = price_int;
    var breed = document.getElementById('horse_breed').value;
    document.getElementById('horse_breed').value = capitalize(breed);
    });

    $("#edit_horse").submit(function(event) {
    var price_string = document.getElementById('horse_price').value.replace(/[A-Za-z$-,-]/g, "").replace(/[^\d\.\-\ ]/g, '');
    var price_int = Number(price_string);
    document.getElementById('horse_price').value = price_int;
    var breed = document.getElementById('horse_breed').value;
    document.getElementById('horse_breed').value = breed.toLowerCase();
    });
    
    function capitalize(text) {
    return text.charAt(0).toUpperCase() + text.slice(1).toLowerCase();
    }
});
</script>

<%= simple_form_for([@user, @horse], :html => {:id => 'edit_horse', :class => 'form-vertical', :multipart => true }) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">    
  <div class="row">
  <div class="span5">
    <b>Basic Horse Details</b>
    <%=h f.input :name %>
    <%=h f.input :breed, :error_html => { :id => "breed_error"}%>
    <%= f.input :gender, :as => :select, :collection => ["Mare","Gelding","Stallion"]%>
    <%= f.input :dob, :as => :date, :discard_day => true, :order => [:month, :year],
                              :start_year => Time.now.utc.to_date.year-50, :end_year => Time.now.utc.to_date.year %>
    <%=h f.input :height, :as => :string, :label => 'Height (hh)' %>
    <%=h f.input :price, :as => :string%>

    <% if @horse.address.present? %>
    <%=h f.input :address, :value => @horse.address%>
    <% else %>
    <%=h f.input :address %>
    <% end %>
      	
    <% if @user.city.present? && !@horse.city.present?%>
    <%=h f.input :city, :value => @user.city, :hint => 'Note: Change horse location if different than yours.'%>
    <% elsif @horse.city.present? %>
    <%=h f.input :city, :value => @horse.city%>
    <% else %>
    <%=h f.input :city %>
    <% end %>
    
    <% if @user.state.present? && !@horse.state.present?%>
    <%= f.input :state, :as => :select, :collection => STATES, :value => @user.state%>
    <% elsif @horse.state.present? %>
    <%= f.input :state, :as => :select, :collection => STATES, :value => @horse.state%>
    <% else %>
    <%= f.input :state, :as => :select, :collection => STATES %>
    <% end %>
    </div>
    <div class="span6">
    <b>Horse Description</b>    
    <%=h f.input :text_description, :label => false, :as => :text, :input_html => { :style => 'width: 430px', :rows => 10 }, :hint => 'Note: You have used <span id="counter"></span> characters.'%>
    <b>Images for Display</b>
    <%= f.input :mainimage, :label => 'Main Image', :hint => 'Note: It is recommended to 
    upload an image that at least 900 x 600px.' %>
    <%= f.input :image1, :label => 'Extra Image 1' %>
    <%= f.input :image2, :label => 'Extra Image 2' %>
    <%= f.input :image3, :label => 'Extra Image 3' %>
    <%= f.input :image4, :label => 'Extra Image 4', :hint => 'Note: All extra images will 
    only appear in a slideshow on the horse listing.' %>
    </div>
    </div>
    </div>

  <div class="form-actions">
    <span class="pull-right">
      <%= link_to 'Cancel', user_horses_path(@user), class: 'btn' %>
      <%= f.button :submit %>
    </span>
  </div>
<% end %>
