<script>
$(".card").onclick(function(){
     window.location=$(this).find("a").attr("href"); 
     return true;
});
</script>

<div class='row'>
<% @horses.each do |horse| %>
<% if horse.active == true && horse.status != "disabled" && horse.user.status != "disabled" %>
<div class='span4'>
<div class='card' style="background: no-repeat;background-size:cover;">
<%=image_tag horse.mainimage.url %>
<div class='banner'>
    <div class='mainline'>
    <%= link_to horse.name, user_horse_path(User.find(horse.user_id), horse) %>
        <div class='amount'>
            <div class='dollar'>$</div>
            <div class='price'><%= number_to_currency(horse.price.round, :unit => "", :precision => 0) %></div>
        </div>
    </div>
    <div class='tagline'> 
        <p><%= horse.breed %> 
        <%= horse.gender %>,
        <%= horse.age %> yrs, 
        <%= horse.height %> hh</p>
        <p>located in: <%= horse.city if horse.city %>, <%= horse.state %> 
        <% if current_user.present? %>
        (<%= number_with_precision(horse.distance_from(current_user.gmaps4rails_address), :precision => 1)%> miles)
        <% end %>
        <span class='more-details'></span>
        </p>
    </div>
</div>
</div>
</div>
<% end %>
<% end %>
<div class="search-paginate">
<%= will_paginate @horses, :renderer => BootstrapPagination::Rails %>
</div>

</div>

