<script>
$(document).ready(function(){
   var breeds = ['Akhal-Teke', 'American Saddlebred', 'American Warmblood',
    'Andalusian', 'Appaloosa', 'Arabian', 'Belgian Horse', 'Belgian Sporthorse', 
    'Belgian Warmblood', 'Black Forest Horse', 'Canadian Horse', 'Canadian Sport Horse', 
    'Canadian Warmblood', 'Caspian Horse', 'Champagne Horse', 'Chincoteague Pony', 
    'Cleveland Bay', 'Clydesdale', 'Connemara', 'Czech Warmblood', 'Dales Pony', 
    'Danish Warmblood', 'Dartmoor Pony', 'Draft', 'Dutch Warmblood', 'Fell Pony', 'Fjord', 
    'Friesian', 'German Riding Pony', 'German Warmblood', 'Grade Horse', 'Gypsy Horse', 
    'Hackney Horse', 'Hackney Pony', 'Haflinger', 'Hanoverian', 'Highland Pony', 'Holsteiner',
    'Hungarian Warmblood', 'Icelandic Horse', 'International Sporthorse', 'Irish Cob', 
    'Irish Draught', 'Irish Sport Horse', 'Kentucky Mountain', 'Lipizzan', 'Lusitano', 
    'Miniature', 'Missouri Fox Trotter Horse', 'Missouri Fox Trotter Pony', 'Morab', 
    'Morgan', 'Mountain Pleasure Horse', 'Mustang', 'National Show Horse', 'New Forest Pony',
    'New Zealand Warmblood', 'Newfoundland Pony', 'Oldenburg', 'Other', 'Paint Horse', 
    'Palomino Horse', 'Paso Fino', 'Percheron', 'Peruvian Paso', 'Pintabian', 'Pintaloosa', 
    'Pinto', 'Pinto Paso', 'Pleasure Saddle Horse Registry', 'POA', 'Pony', 'Quarab', 
    'Quarter Horse', 'Quarter Pony', 'Racking Horse', 'Rocky Mountain', 'Selle Francais', 
    'Shetland Pony', 'Shire', 'Spanish Barb', 'Spanish Mustang', 'Standardbred', 'Suffolk', 
    'Swedish Warmblood', 'Swiss Warmblood', 'Tennessee Walker', 'Thoroughbred', 'Trakehner', 
    'Warmblood', 'Welsh Cob', 'Welsh Pony'];      
    var heights = ['4.0', '4.1', '4.2', '4.3', '5.0', '5.1', '5.2', '5.3', '6.0', '6.1', 
    '6.2', '6.3', '7.0', '7.1', '7.2', '7.3', '8.0', '8.1', '8.2', '8.3', '9.0', '9.1', 
    '9.2', '9.3', '10.0', '10.1', '10.2', '10.3', '11.0', '11.1', '11.2', '11.3', '12.0', 
    '12.1', '12.2', '12.3', '13.0', '13.1', '13.2', '13.3', '14.0', '14.1', '14.2', '14.3', 
    '15.0', '15.1', '15.2', '15.3', '16.0', '16.1', '16.2', '16.3', '17.0', '17.1', '17.2', 
    '17.3', '18.0', '18.1', '18.2', '18.3', '19.0', '19.1', '19.2', '19.3', '20.0'];
     var genders = ['Mare','Gelding','Stallion'];
    
    //for(var i=0; i<genders.length; i++){
    //var div = document.createElement("div");
    //div.setAttribute("class", "pill");
    //div.id = genders[i];
    //div.innerHTML =  genders[i] + '<a class="close" id="'+genders[i]+'" onclick="hide(id);" style="display:inline;">&#215;</a>';
    //parent = document.getElementById('gender-section');
    //parent.appendChild(div);
    //}
    
    //for(var i=0; i<3; i++){
    //var div = document.createElement("div");
    //div.setAttribute("class", "pill");
    //div.id = breeds[i];
    //div.innerHTML =  breeds[i] + '<a class="close" id="'+breeds[i]+'" onclick="hide(id);" style="display:inline;">&#215;</a>';
    //parent = document.getElementById('breed-section');
    //parent.appendChild(div);
    //}
    
    //$('#search_breed_contains').typeahead({source: breeds});
    $('#search_height_greater_than_or_equal_to').typeahead({source: heights});
    $('#search_height_less_than_or_equal_to').typeahead({source: heights});
    
        var display_dob_greater = document.getElementById('search_dob_greater_than_or_equal_to').value;
        var display_dob_less = document.getElementById('search_dob_less_than_or_equal_to').value;
        if (display_dob_greater != ""){
        var display_age_less = calculateAge(display_dob_greater);
        document.getElementById('search_dob_greater_than_or_equal_to').value = display_age_less;
        }
        if (display_dob_less != ""){
        var display_age_greater = calculateAge(display_dob_less);
        document.getElementById('search_dob_less_than_or_equal_to').value = display_age_greater;
        }
        var keyword_array = document.getElementById('search_name_or_breed_or_gender_or_text_description_contains_any').value;       
        document.getElementById('search_name_or_breed_or_gender_or_text_description_contains_any').value = 
        keyword_array.replace("[","").replace("]","").replace(","," ").replace(/"/g, "");
        
        var breed_string = "";
        var value = "";
        $("#search_breed_contains").bind("keypress",function(e) {
        var key = String.fromCharCode(e.which);
        if (key == " "){
        breed_string = "" + breed_string + " " + value + "";
        proper_value = toProperCase(value);
        clearandcreate('breed-section',"search_breed_contains","search_breed_contains_any", proper_value);
        value = "";
        }
        else if(key=="deletevalue"){
        value = value.substring(0, value.length-1);
        }
        else{
        value = value + key.toLowerCase();
        }
        });
        
        var gender_string = "";
        var gender_value = "";
        $("#search_gender_contains").bind("keypress",function(e) {
        var key = String.fromCharCode(e.which);
        if (key == " "){
        gender_string = "" + gender_string + " " + gender_value + "";
        proper_value = toProperCase(gender_value);
        clearandcreate('gender-section',"search_gender_contains","search_gender_contains_any", proper_value);
        gender_value = "";
        }
        else{
        gender_value = gender_value + key.toLowerCase();
        }
        });
    
    // when you submit this form
  $("#horse_search").submit(function(event) {
        // you get the variable from the search form
        var age_less = Number(document.getElementById('search_dob_greater_than_or_equal_to').value.replace(/[A-Za-z$-,-]/g, "").replace(/[^\d\.\-\ ]/g, ''));
        var age_greater = Number(document.getElementById('search_dob_less_than_or_equal_to').value.replace(/[A-Za-z$-,-]/g, "").replace(/[^\d\.\-\ ]/g, ''));
        // perform basic calculations to convert to dob
        if (age_less != ""){
        var dob_greater = getDOB(age_less);
        document.getElementById('search_dob_greater_than_or_equal_to').value = dob_greater;
        }
        if (age_greater != ""){
        var dob_less = getDOB(age_greater);
        document.getElementById('search_dob_less_than_or_equal_to').value = dob_less;
        }
        var height_lte = Number(document.getElementById('search_height_less_than_or_equal_to').value.replace(/[A-Za-z$-,-]/g, "").replace(/[^\d\.\-\ ]/g, ''));        
        if (height_lte != ""){
        document.getElementById('search_height_less_than_or_equal_to').value = height_lte;
        }
        var height_gte = Number(document.getElementById('search_height_greater_than_or_equal_to').value.replace(/[A-Za-z$-,-]/g, "").replace(/[^\d\.\-\ ]/g, ''));
        if (height_gte != ""){
        document.getElementById('search_height_greater_than_or_equal_to').value = height_gte;
        }
        var price_lte = Number(document.getElementById('search_price_less_than_or_equal_to').value.replace(/[A-Za-z$-,-]/g, "").replace(/[^\d\.\-\ ]/g, ''));        
        if (price_lte != ""){
        document.getElementById('search_price_less_than_or_equal_to').value = price_lte;
        }
        var price_gte = Number(document.getElementById('search_price_greater_than_or_equal_to').value.replace(/[A-Za-z$-,-]/g, "").replace(/[^\d\.\-\ ]/g, ''));
        if (price_gte != ""){
        document.getElementById('search_price_greater_than_or_equal_to').value = price_gte;
        }
        var distance = Number(document.getElementById('search_distance').value.replace(/[A-Za-z$-,-]/g, "").replace(/[^\d\.\-\ ]/g, ''));
        if (distance != ""){
        document.getElementById('search_distance').value = distance;
        }       
        //var keyword_string = document.getElementById('search_name_or_breed_or_gender_or_text_description_contains_any').value;
        //var keyword_array = keyword_string.split(" ")
        //document.getElementById('search_name_or_breed_or_gender_or_text_description_contains_any').value = keyword_array;       
 
 });

});

function searchStringInArray (string) {
    for (var j=0; j<breeds.length; j++) {
        if (breeds[j].match (string)) return j;
    }
    return -1;
}

function clearandcreate(parent, id, hiddenid, value) {
        document.getElementById(id).value = "";
            var div = document.createElement("div");
            div.setAttribute("class", "pill");
            div.id = value;
            div.innerHTML =  value + '<a class="close" id="'+value+'" onclick="hide(id, ' + hiddenid +');" style="display:inline;">&#215;</a>';
            parent = document.getElementById(parent);
            parent.appendChild(div);
            current_value = document.getElementById(hiddenid).value;
            document.getElementById(hiddenid).value = ''+ current_value + ' ' + value;
}

function toProperCase(str)
{
    return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
}

function hide(id, search_term) {
        document.getElementById(id).style.display = 'none'; 
        var values = document.getElementById(search_term).value;
        document.getElementById(search_term).value = values.replace(id, "");
        var now = document.getElementById(search_term).value;
        alert(now);
}
     
function combine_ids(ids) {
   return (ids.length ? "'" + ids.join("','") + "'" : "");
}

function getDOB(age) {
    var today = new Date();
    var dob = new Date(today.getFullYear() - age, today.getMonth(), today.getDate());
    return dob;
}

function calculateAge(dobString) {
    var dob = new Date(dobString);
    var currentDate = new Date();
    var currentYear = currentDate.getFullYear();
    var birthdayThisYear = new Date(currentYear, dob.getMonth(), dob.getDate());
    var age = currentYear - dob.getFullYear();

    if(birthdayThisYear > currentDate) {
        age--;
    }
    return age;
}
</script>

  <%= simple_form_for(@search, :url => { :search => "search" }, :html => {:method => 'get', :class => 'form-vertical'}) do |f| %>
        <div class = 'span11 offset1'>
        <div class="row">
        <div class ='span6'>
        <%= f.input :name_or_breed_or_gender_or_text_description_contains_any, :label => false, 
        :input_html => { :style => 'width: 430px', :class=> "search-query", 
        :placeholder=>"Search by keyword"}, :include_blank => true  %>
        </div>
        <div class ='span1'>
        <%= f.submit "Search", :class => "btn btn-primary"%> 
        </div>
        <div class ='span3' style="padding-top:5px">
        <a data-toggle="collapse" data-target="#demo">Advanced Search Options</a>
        </div>
        </div>
        
        <div id="demo" class="collapse in">
        <h4>Advanced Search Criteria</h4>
        <div class="divider-horizontal" style='width:725px'></div>
        <div class="row">
        <div class="search-labels span3">Age within range:</div>
        <div class="search-labels span3">Height within range:</div>
        <div class="search-labels span3">Price within range:</div>
        </div>
        
        <div class="row">
        <div class ='span2'>
        <%= f.input :dob_less_than_or_equal_to, :label => false, 
        :input_html => { :style => 'width: 75px'}, :include_blank => true %>
        </div>
        <div class ='span1'>
        <%= f.input :dob_greater_than_or_equal_to, :label => false, 
        :input_html => { :style => 'position: relative; left: -29px; width: 75px;'},
        :include_blank => true %>
        </div>
        <div class ="span2">
         <%= f.input :height_greater_than_or_equal_to, :label => false, 
        :input_html => {:autofocus => false, :style => 'width: 75px'}, :include_blank => true %> 
       </div>
        <div class ="span1">
        <%= f.input :height_less_than_or_equal_to, :label => false, 
        :input_html => {:autofocus => false, :style => 'position: relative; left: -29px; width: 75px;'}, 
        :include_blank => true %>
        </div>
        <div class ="span2">
         <%= f.input :price_greater_than_or_equal_to, :label => false, 
        :input_html => { :style => 'width: 75px'}, :include_blank => true %> 
       </div>
        <div class ="span1">
        <%= f.input :price_less_than_or_equal_to, :label => false, 
        :input_html => { :style => 'position: relative; left: -29px; width: 75px;'}, 
        :include_blank => true %>
        </div>
        </div>
        
        <div class="row">
        <div class="and-labels">
        <div class="search-labels span3 offset1">and</div>
        <div class="search-labels span3">and</div>
        <div class="search-labels span3">and</div>
        </div>
        </div>
 
 <!--
        <div class="row">
        <div class="search-labels span3">Include breed:</div>
        <div class="search-labels span3">Gender includes:</div>
        <div class="search-labels span3">Price within range:</div>
        </div>
-->               
               
        <div class="row">
        <div class ='span3'  id='breed-section'>
        <%= f.input :breed_contains, :label => "", :required => false,:input_html => {:autofocus => false}, :include_blank => true %>
        <%= f.hidden_field :breed_contains_any, :value => "", :include_blank => true %>
        </div>
        <div class ='span3' id='gender-section'>
        <%= f.input :gender_contains, :label => "", :required => false, :include_blank => true %> 
        <%= f.hidden_field :gender_contains_any, :value => "", :include_blank => true %>
        </div>
        <div class ='span3'>
        <%= f.input :distance, :label => "Distance (in miles):", :required => false, :include_blank => true %><br />
        </div>
        </div>
        
        </div>
<% end %> 
