<script>
  $(document).ready(function(){
    $('#horseCarousel').carousel({
      interval: 5000,
      pause: "hover"
    });
    
  });
</script>
  
<div class="span12">
<div class="span8">

<div class='ad'>
<div class='infobox'>
<div class='center-align'>
<h4><%= @horse.name %></h4>
</div>
<div class='show-profile-image'>
<%= image_tag @horse.mainimage.url(:medium)%>
</div>
<div class='share pull-right'>

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_button_tweet"></a>
<a class="addthis_button_pinterest_pinit"></a>
<a class="addthis_counter addthis_pill_style"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50d8b33900a66959"></script>
<!-- AddThis Button END -->
       
</div>
    <h3><%= simple_format(@horse.format_description) %></h3>
    <p>
    <td><%= link_to 'Report Listing', user_horse_flag_path(@user, @horse), method: :flag, class: 'btn btn-mini' %></td>
    <% @savedhorses = SavedHorse.where(:horse_id => @horse.id) %>
    <% s = @savedhorses[0] %>
    <% if s %>
    <% if s.saved %>
    <td><%= link_to 'Unsave Horse', [s.user, s ], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini' %></td>
    <% end %>
    <% else %>
    <%= link_to 'Save Horse', new_user_saved_horse_path(current_user, @horse), class: 'btn btn-mini' %>
    <% end %>
    <%= render 'users/user_message', :user => @user %>
    </p>
    
    <p>
    <% if current_user == @user %>
    <%= link_to 'Edit', edit_user_horse_path(@user, @horse) %> |
    <%= link_to 'Back', user_horses_path(@user) %>
    <%elsif false%>
    <%= link_to 'View Horses for Sale', user_horses_path(@user) %>
    <%end%>
    </p>
    </div>
</div>
</div>

<div class="span3" id="ad-sidebar">
<div class="inner">
<div class='displayprice'>
<div class='display'>
</div>
</div>
<div class="center-align">
<h4>Horse Representative</h4>
<p> <%= @user.name %> </p>
</div>
<!--
<%= image_tag @user.avatar.url(:medium), :class => "img-circle", :id => "horse-owner-img"%>
-->
<a data-toggle="modal" href="#message-user-<%= @user.id %>" class="btn btn-info btn-block" type="button">Inquire about this horse!</a>
<%= image_tag "/images/get_in_touch.png"%>
<h4  class="center-align">Horse Details</h4>
<p><b>Breed: </b><%= @horse.breed %></p>
<p><b>Gender: </b><%= @horse.gender %></p>
<p><b>Age: </b><%= @horse.age %> yrs</p>
<p><b>Height: </b><%= @horse.height %> hh</p> 
<p><b>Price: </b><%= number_to_currency(@horse.price.round, :precision => 0) %> </p>

</div>
<div class='point'></div>
</div>

<% if @horse.image1.present? || @horse.image2.present? || @horse.image3.present? || @horse.image4.present?%>
<div class="span8">
<div class='ad'>
<% if @horse.image1.present? %><%= image_tag @horse.image1.url(:thumb)%><%end%>
<% if @horse.image2.present? %><%= image_tag @horse.image2.url(:thumb)%><%end%>
<% if @horse.image3.present? %><%= image_tag @horse.image3.url(:thumb)%><%end%>
<% if @horse.image4.present? %><%= image_tag @horse.image4.url(:thumb)%><%end%>
</div>
<% end %>

<% if @horse.image1.present? || @horse.image2.present? || @horse.image3.present? || @horse.image4.present?%>
<div class='ad'>
<div class='horse-slideshow'>
    <div id="horseCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
        <% if @horse.image1.present?%>
            <div class="item active" id="image1">
            <div class="carousel-image">
                <%= image_tag @horse.image1.url(:medium), :class => "img-polaroid"%>
            </div>
            </div>
        <% end %>
        <% if @horse.image2.present?%>
            <div class="item" id="image2">
            <div class="carousel-image">
                <%= image_tag @horse.image2.url(:medium), :class => "img-polaroid"%>
            </div>
            </div>
        <% end %>
        <% if @horse.image3.present?%>
            <div class="item" id="image3">
            <div class="carousel-image">
                <%= image_tag @horse.image3.url(:medium), :class => "img-polaroid"%>
            </div>
            </div>
        <% end %>
        <% if @horse.image4.present?%>
            <div class="item" id="image4">
            <div class="carousel-image">
                <%= image_tag @horse.image4.url(:medium), :class => "img-polaroid"%>
            </div>
            </div>
        <% end %>        
  </div>
  <!-- Carousel nav -->
  <!--
  <a class="carousel-control left" href="#horseCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#horseCarousel" data-slide="next">&rsaquo;</a>
  -->
</div>
</div>
</div>
<% end %>

<% if @horse.videos.first.present? %>
<% @horse.videos.each do |video| %>
<% if !video.video_remote_url.blank? %>
<div class="span6" style="margin-left:100px;">
<%= show_video video.video_remote_url%>
</div>
<% end %>
<% end %>
<% end %>

<!--
<%= render "testimonials/display_all" %>
-->

</div>

</div>