<div class="span12">
<div class="span8">

<div class='ad'>
<div class='infobox'>
<div class='center-align'>
<h4><%= @horse.name %></h4>
</div>
<div class='show-profile-image'>
<%= image_tag @horse.mainimage.url(:medium)%>
</div>
<div class='share pull-right'>

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_button_tweet"></a>
<a class="addthis_button_pinterest_pinit"></a>
<a class="addthis_counter addthis_pill_style"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50d8b33900a66959"></script>
<!-- AddThis Button END -->

</div>
    <h3><%= simple_format(@horse.format_description) %></h3>
    <td><%= link_to 'Report Listing', user_horse_flag_path(@user, @horse), method: :flag, class: 'btn btn-mini' %></td>
    <% @savedhorses = SavedHorse.where(:horse_id => @horse.id) %>
    <% s = @savedhorses[0] %>
    <% if s %>
    <% if s.saved %>
    <td><%= link_to 'Unsave Horse', [s.user, s ], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini' %></td>
    <% end %>
    <% else %>
    <%= link_to 'Save Horse', new_user_saved_horse_path(current_user, @horse), class: 'btn btn-mini' %>
    <% end %>

    <% if current_user == @user %>
    <%= link_to 'Edit', edit_user_horse_path(@user, @horse) %> |
    <%= link_to 'Back', user_horses_path(@user) %>
    <%else%>
    <p>
    <%= link_to 'View Horses for Sale by Owner', user_horses_path(@user) %>
    <%end%>
    </div>
</div>
</div>

<div class="span3" id="ad-sidebar">
<div class="inner">
<div class='displayprice'>
<div class='display'>
</div>
</div>
<p><b>Breed: </b><%= @horse.breed %></p>
<p><b>Gender: </b><%= @horse.gender %></p>
<p><b>Age: </b><%= @horse.age %> yrs</p>
<p><b>Height: </b><%= @horse.height %> hh</p>
</div>
<div class='point'></div>
</div>

<div class="span8">
<div class='ad'>
<% if @horse.image1.present? %><%= image_tag @horse.image1.url(:thumb)%><%end%>
<% if @horse.image2.present? %><%= image_tag @horse.image2.url(:thumb)%><%end%>
<% if @horse.image3.present? %><%= image_tag @horse.image3.url(:thumb)%><%end%>
<% if @horse.image4.present? %><%= image_tag @horse.image4.url(:thumb)%><%end%>
</div>
</div>


</div>