
<p id="notice"><%= notice %></p>
<div class="white-background">
<h1>Editing horse</h1>

<p> User: <%= current_user.first_name %> </p>

<p> Horse: <%= current_user.horses.find(params[:id]).name %></p>

<%= render 'form' %>

<%= link_to 'Show', user_horses_path(@user) %> |
<%= link_to 'Back', user_horses_path(@user) %>
</div>
