<!-- This is the user profile page. -->
<div class='white-background'>
<div class="row-fluid">
<div class="span4" id="profile-image">
<div class='profile-image'>
<%= image_tag @user.avatar.url(:medium) %>
</div>
</div>
<div class="span8">
<% if current_user == @user %>
<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<% else %>
<h1><%= @user.first_name %> <%= @user.last_name[0] %>.</h1>
<% end %>
<h2>Contact Information</h2>
<h3>Website: <%= link_to @user.website if @user.website %></h3>
<h3>Email: <%= @user.email if @user.email %> </h3>
<h3>Phone: (<%= @user.phone_number.to_s[0,3] if @user.phone_number %>)
<%= @user.phone_number.to_s[3,3] if @user.phone_number %>-<%= @user.phone_number.to_s[6,@user.phone_number.size] if @user.phone_number %>
</h3>
</div>
</div>
</div>


<div class='white-background'>
<h1>Sales Barn</h1>
<% @user.horses.each do |horse| %>
<div class='row-fluid'>
<div class="span4" id="profile-image">
<div class='profile-image'>
<%= image_tag horse.avatar.url %>
</div>
</div>
<div class='span8'>
<h4><%= horse.name %></h4>
<%= number_to_currency(horse.price.round, :precision => 0) %>
</div>
<div class="span3">
    <p><b>Breed: </b><%= horse.breed %></p>
    <p><b>Gender: </b><%= horse.gender %></p>
    <p><b>Age: </b><%= horse.age %> yrs</p>
    <p><b>Height: </b><%= horse.height %> hh</p>
</div>
<div class="span5">
    <p><%= horse.text_description %></p>
    <%= link_to 'View Details', user_horse_path(@user, horse) %>
</div>
<div class='divider-horizontal'></div>
</div>
<% end %>
</div>

