<!-- This is the user profile page. -->
<% if @user.status == "disabled" %>
<div class='white-background'>
<div class='center-align'>
<p><b>This account and associated listings have been disabled please contact <%= mail_to "support@myequicentre.com" %> 
to inquire into the details.</b></p>
</div>
</div>

<% else %>
<div class='white-background'>
<div class="row-fluid">
<div class="span5">
<% if current_user == @user %>
<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<% else %>
<h1><%= @user.first_name %> <%= @user.last_name[0] %>.</h1>
<% end %>
<div class="profile-image">
    <%= image_tag @user.avatar.url(:medium), :class => "img-circle", :id => "horse-owner-img" %>
</div>
        <% if current_user != @user %>
        <a data-toggle="modal" href="#message-user-<%= @user.id %>" class="btn btn-block" type="button">Message <%= @user.first_name %></a>
        <%= render 'users/user_message', :user => @user %> 
        <% end %>
</div>

<div class="span7">
<h3><%= @user.bio if @user.bio %></h3>

<% if (@user.website && !@user.website.blank?) || @user.phone_number %>
<h2>Contact Information</h2>
<% end %>
<% if @user.website && !@user.website.blank? %>
<h3>Website: <a href="http://<%= @user.website%>"  target="_blank"><%= @user.website%></a></h3>
<% end %>
<% if @user.phone_number %>
<h3>Phone: (<%= @user.phone_number.to_s[0,3] %>)
<%= @user.phone_number.to_s[3,3] %>-<%= @user.phone_number.to_s[6,@user.phone_number.size]%>
</h3>
<% end %>
</div>
</div>
</div>

<% if @horses.first.present? %>
<div class='white-background'>
<h1>Sales Barn</h1>
<% @horses.each do |horse| %>
<%= render 'users/sales_barn', :horse => horse %>
<div class='divider-horizontal'></div>
<% end %>
<% end %>
</div>
<% end %>

<div class="search-paginate">
<%= will_paginate @horses, :renderer => BootstrapPagination::Rails %>
</div>

<div class="span11">
<div class="ad" style="margin-left:50px;margin-top:20px;">
<% if @user.testimonials.first.present?%>
<h4>Testimonials for <%= @user.first_name %></h4>
<div class='infobox' style="min-height:0px;max-height:100px;">
<% @user.testimonials.each do |t| %>
<% @voucher = User.find(t.voucher_id) %>
<div class="row">
<% if @voucher.avatar.present? %>
<div class="span1" style="width:100px;height:auto;">
<%= image_tag @voucher.avatar.url(:thumb), :class => "img-rounded" %>
</div>
<% end %>
<div class="span7">
<p> "<%= t.body %> " ~ <%= @voucher.first_name %> <%= @voucher.last_name %> </p>
<% if current_user.present? %>
<% if current_user.has_role? :admin || current_user == @voucher || current_user == @user %>
<p style="text-align:right"> <%= link_to 'Delete', [t.user, t], method: :delete, data: { confirm: 'Are you sure?' } %> </p>
<% end %>
<% end %>
</div>
</div>
</div>
<% end %>
<% end %>

<% if current_user.present? && current_user != @user %>
<p><b>Know this person? Add a testimonial:</b></p>
<%= simple_form_for([@user, @user.testimonials.build]) do |f| %>
  <div class="field">
    <%= f.hidden_field :voucher_id, :value => current_user.id %>
    <%= f.input :body, :as => :text, :label => false, :input_html => { :style => "width:754px;", :rows => 5 } %>
  </div>
  <div class="actions" style="text-align:right;">
    <%= f.button :submit, :class => "btn btn-primary" %>
  </div>
<% end %>
<% elsif !current_user.present? %>
<p style="margin-top:10px;"><b>Know this person and want to give a testimonial?</b>
Register for an account!
<%= link_to "Sign Up (it's free!)", new_user_registration_path, :class => "btn btn-primary pull-right"%> </p>
<% else %>
<p style="margin-top:10px;"><b>Want to get testimonials?</b> Share this page with your friends!

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style pull-right " style="margin-top:-30px;">
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_button_tweet"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50d8b33900a66959"></script>
<!-- AddThis Button END -->
       
</p>
<% end %>
</div>
</div>