<p id="notice"><%= notice %></p>
    
    <div id="search-form">
        <%= render 'horses/search_form' %>
    </div>
    <p> Sort by: <%= sort_link @search, :price %> | <%= sort_link @search, :dob, "Age" %></p>

    <div id="search-results">
        <%= render 'horses/search_results' %>
    </div>