<p id="notice"><%= notice %></p>
    
    <div id="search-form">
        <%= render 'horses/search_form' %>
    </div>
    <%= sort_link @search, :price %>
    <%= sort_link @search, :dob %>
    <%= sort_link @search, :height %>

    <div id="search-results">
        <%= render 'horses/search_results' %>
    </div>