<p id="notice"><%= notice %></p>
<div class='white-background'>
<div class="row-fluid">
<div class="span4" id="profile-image">

<%= link_to @horse.avatar_file_name%>
<%= link_to @horse.avatar.url%>
<%= image_tag @horse.avatar.url %>

<p>
  <b>Breed:</b>
  <%= @horse.breed %>
</p>

<p>
  <b>Gender:</b>
  <%= @horse.gender %>
</p>

<p>
  <b>Age:</b>
  <%= @horse.age %>
</p>

<p>
  <b>Height:</b>
  <%= @horse.height %>
</p>
</div>
<div class="span8">

<h2>
  <%= @horse.name %>
</h2>
<h3>
  <%= @horse.text_description %>
</h3>

<p>
  <b>Price:</b>
  <%= @horse.price %>
</p>


<%= link_to 'Edit', edit_user_horse_path(@user, @horse) %> |
<%= link_to 'Back', user_horses_path(@user) %>
</div>

</div>
</div>

