<p id="notice"><%= notice %></p>
<div class='white-background'>
<div class="row-fluid">
<div class="span4" id="profile-image">

<div class='profile-image'>
<%= image_tag @horse.avatar.url%>
</div>
<p>
  <b>Breed:</b>
  <%= @horse.breed %>
</p>

<p>
  <b>Gender:</b>
  <%= @horse.gender %>
</p>

<p>
  <b>Age:</b>
  <%= @horse.age %> yrs
</p>

<p>
  <b>Height:</b>
  <%= @horse.height %> hh
</p>
</div>
<div class="span8">

<h2>
  <%= @horse.name %>
</h2>
<h3>
  <%= simple_format(@horse.format_description) %>
</h3>

<p>
  <b>Price:</b>
  <%= @horse.price %>
</p>

<td><%= link_to 'Report Listing', user_horse_flag_path(@user, @horse), method: :flag, class: 'btn btn-mini' %></td>

<% @savedhorses = SavedHorse.where(:horse_id => @horse.id) %>
<% s = @savedhorses[0] %>
<% if s %>
<% if s.saved %>
<td><%= link_to 'Unsave Horse', [s.user, s ], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini' %></td>
<% end %>
<% else %>
<%= link_to 'Save Horse', new_user_saved_horse_path(@user, @horse), class: 'btn btn-mini' %>
<% end %>

<% if current_user == @user %>
<%= link_to 'Edit', edit_user_horse_path(@user, @horse) %> |
<%= link_to 'Back', user_horses_path(@user) %>
<%else%>
<p>
<%= link_to 'View Horse for Sale by Owner', user_horses_path(@user) %>
<%= link_to 'View Owner Profile', user_path(@user) %>
<%end%>

</div>

</div>
</div>

