<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @horse.name %>
</p>

<p>
  <b>Breed:</b>
  <%= @horse.breed %>
</p>

<p>
  <b>Gender:</b>
  <%= @horse.gender %>
</p>

<p>
  <b>Age:</b>
  <%= @horse.age %>
</p>

<p>
  <b>Height:</b>
  <%= @horse.height %>
</p>

<p>
  <b>Text description:</b>
  <%= @horse.text_description %>
</p>

<p>
  <b>Price:</b>
  <%= @horse.price %>
</p>


<%= link_to 'Edit', edit_user_horse_path(@user, @horse) %> |
<%= link_to 'Back', user_horses_path(@user) %>
