<% if @horse.user.status == "disabled" %>
<div class='white-background'>
<div class='center-align'>
<p><b>This account and associated listings have been disabled please contact <%= mail_to "support@myequicentre.com" %>
to inquire into the details.</b></p>
</div>
</div>

<% elsif @horse.status == "disabled" %>
<div class='white-background'>
<div class='center-align'>
<p><b>This listing has been disabled please contact <%= mail_to "support@myequicentre.com" %> to inquire into the details.</b></p>
</div>
</div>

<% elsif @horse.active == false && current_user == @user%>
<div class='white-background'>
<div class='center-align'>
<p><b>This listing is NOT active.</b></p>
<p>This means that you have not paid for the listing.</p>
<p>Please activate the account from your dashboard or contact 
<%= mail_to "support@myequicentre.com" %> for support.</p>
</div>
</div>
</br>
</br>
<%= render 'show_content' %>

<% elsif @horse.active == false %>
<div class='white-background'>
<div class='center-align'>
<p><b>This listing is not yet available!</b></p>
</div>
</div>

<% else %>
<div class='general-content'>
<%= render 'show_content' %>
</div>
<% end %>
