<% if @horse.user.status == "disabled" %>
<div class='white-background'>
<div class='center-align'>
<p><b>This account and associated listings have been disabled please contact <%= mail_to "support@myequicentre.com" %>
to inquire into the details.</b></p>
</div>
</div>
<% elsif @horse.status == "disabled" %>
<div class='white-background'>
<div class='center-align'>
<p><b>This listing has been disabled please contact <%= mail_to "support@myequicentre.com" %> to inquire into the details.</b></p>
</div>
</div>
<% elsif @horse.sale_status == "inactive" && current_user == @user%>
<div class='white-background'>
<div class='center-align'>
<p><b>This listing is NOT active.</b></p>
<p>This means that you have not paid for the listing.</p>
<p>Please activate the account from your dashboard or contact 
<%= mail_to "support@myequicentre.com" %> for support.</p>
</div>
</div>
<% elsif @horse.sale_status == "inactive" %>
<div class='white-background'>
<div class='center-align'>
<p><b>This listing is not yet available!</b></p>
</div>
</div>
<% else %>
<p id="notice"><%= notice %></p>
<div class='white-background'>
<div class="row-fluid">
<div class="span4" id="profile-image">
<div class='profile-image'>
<%= image_tag @horse.avatar.url(:medium)%>
</div>
<p>
  <b>Breed:</b>
  <%= @horse.breed %>
</p>

<p>
  <b>Gender:</b>
  <%= @horse.gender %>
</p>

<p>
  <b>Age:</b>
  <%= @horse.age %> yrs
</p>

<p>
  <b>Height:</b>
  <%= @horse.height %> hh
</p>
</div>
<div class="span8">

<h4>
  <%= @horse.name %>
</h4>
<h3>
  <%= simple_format(@horse.format_description) %>
</h3>

<h4><%= number_to_currency(@horse.price.round, :unit => "$", :precision => 0) %></h4>

<td><%= link_to 'Report Listing', user_horse_flag_path(@user, @horse), method: :flag, class: 'btn btn-mini' %></td>

<% @savedhorses = SavedHorse.where(:horse_id => @horse.id) %>
<% s = @savedhorses[0] %>
<% if s %>
<% if s.saved %>
<td><%= link_to 'Unsave Horse', [s.user, s ], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini' %></td>
<% end %>
<% else %>
<%= link_to 'Save Horse', new_user_saved_horse_path(current_user, @horse), class: 'btn btn-mini' %>
<% end %>

<% if current_user == @user %>
<%= link_to 'Edit', edit_user_horse_path(@user, @horse) %> |
<%= link_to 'Back', user_horses_path(@user) %>
<%else%>
<p>
<%= link_to 'View Horses for Sale by Owner', user_horses_path(@user) %>
<%end%>

</div>

</div>
</div>
<% end %>
