<script>
$(document).ready(function() {
  $("#new_subscription").submit(function(event) {
    // disable the submit button to prevent repeated clicks
    $('.submit-button').attr("disabled", "disabled");

    Stripe.createToken({
        number: $('.card_number').val(),
        cvc: $('.card_code').val(),
        exp_month: $('.card_month').val(),
        exp_year: $('.card_year').val()
    }, stripeResponseHandler);

    // prevent the form from submitting with the default action
    return false;
  });
});

function stripeResponseHandler(status, response) {
    if (response.error) {
        // show the errors on the form
        $(".payment-errors").text(response.error.message);
        $(".submit-button").removeAttr("disabled");
    } else {
        var token = response['id'];
        // insert the token into the form so it gets submitted to the server
        $('#subscription_stripe_card_token').val(response['id'])
        // and submit
        $('#new_subscription').get(0).submit();
        alert(token);
        
    }
}
</script>

<div class='white-background'>
<h1>Activate Listing for <%= Horse.find(params[:horse_id]).name%> </h1>
<p>Costs <strong>$10</strong> per month per listing!</p>

<%= simple_form_for([current_user, @subscription]) do |f| %>
  <% if @subscription.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>
      <ul>
      <% @subscription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :plan_id, :value => params[:plan_id] %>
  <%= f.hidden_field :user_id, :value => params[:user_id] %>
  <%= f.hidden_field :horse_id, :value => params[:horse_id] %>
  <%= f.hidden_field :email, :value => current_user.email %>
  <% customer = Customer.where(:user_id => current_user.id).first %>
  <% if customer.present? %>
  <% stripe_customer = Stripe::Customer.retrieve(customer.stripe_customer_token) %>
  <% if stripe_customer.active_card.fingerprint.present? %>
    Credit card has been provided.
  <% end %>
  <% else %>
    <div class="field">
      <%= label_tag :card_number, "Credit Card Number" %>
      <%= text_field_tag :card_number, nil, name: nil %>
    </div>
    <div class="field">
      <%= label_tag :card_code, "Security Code on Card (CVV)" %>
      <%= text_field_tag :card_code, nil, name: nil %>
    </div>
    <div class="field">
      <%= label_tag :card_month, "Card Expiration" %>
      <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
      <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
    </div>
  <% end %>
  <div id="stripe_error">
    <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
  </div>
  <div class="actions">
    <%= f.submit "Subscribe", :class =>"submit-button"%>

  </div>
<% end %>

</div>