<div class='white-background'>
<h1>Your Horse Listings</h1>
<table class="table table-condensed">
  <% if @user.horses.present? %>
  <thead>
  <tr>
    <th>Horse Name</th>
    <th>Breed</th>
    <th>Gender</th>
    <th>Age</th>
    <th>Height</th>
    <th>Price</th>
    <th>Status</th>
    <th></th>
  </tr>
  </thead>
  <% @user.horses.each do |horse| %>
  <tbody>
  <tr>
    <td><%= horse.name %></td>
    <td><%= horse.breed %></td>
    <td><%= horse.gender %></td>
    <td><%= horse.age %> yrs</td> 
    <td><%= horse.height %> hh</td>
    <td><%= number_to_currency(horse.price.round, :precision => 0) %></td>
    <% if horse.active == true %>
    <td>Active</td>
    <td><%= link_to 'Preview', user_horse_path(@user, horse) %> | <%= link_to 'Edit', edit_user_horse_path(@user, horse) %></td>
    <td><%= link_to "Deactivate", user_horse_unsubscribe_path(current_user, horse, horse.subscriptions.first), :class => 'btn btn-mini' %></td>
    <% else %>
    <td>Inactive</td>
    <td><%= link_to 'Preview', user_horse_path(@user, horse) %> | <%= link_to 'Edit', edit_user_horse_path(@user, horse) %></td>
    <td><a data-toggle="modal" href="#activate-horselisting-<%= horse.id %>" class="btn btn-mini" type="button">Activate</a>
        <%= render 'subscriptions/activate_popup', :horse => horse %>
    </td>   
    <!--
    <td><%= link_to " Activate ", new_user_horse_subscription_path(current_user, horse, :plan_id => 45454545), :class => 'btn btn-mini' %></td>
    -->
    <% end %>
    <td><%= link_to 'Delete', [horse.user, horse], method: :delete, data: { confirm: 'Are you sure? This action cannot be undone.' }, :class => 'btn btn-mini' %></td>
  </tr>
  </tbody>
<% end %>
<%= link_to 'Add New Horse', new_user_horse_path(@user), class: 'btn btn-mini' %>
<% else %>
<div class="center-align">
<p> You don't have any horse listings. Create one by clicking the "Add New Horse" button below: </p>
<%= link_to 'Add New Horse', new_user_horse_path(@user), class: 'btn btn-mini' %>
</div>
<% end %>
</table>
</div>