<div id="message-user-<%= user.id %>" class="modal" style="display: none;">
        <%= simple_form_for([current_user, current_user.messages.new]) do |f| %>
        <div class="modal-header">
          <a class="close" data-dismiss="modal">&#215;</a>
          <h3>Message <%= user.name %></h3>
        </div>
        <div class="modal-body">
        <%= f.error_notification %>
        
        <div class="form-inputs">
        <%= f.hidden_field :to_user_id, :value => user.id %>
        <%= f.hidden_field :name, :value => user.name %>
        <%= f.hidden_field :from_user_id, :value => current_user.id %>
        <%= f.hidden_field :thread_count, :value => 0 %>

        <div class="row">
        <div class="span1">
        <p>From: </p>
        <p>Subject: </p>
        </div>
        <div class="span5">
        <%= current_user.name %> 
        <%= f.input :title, :label => false, 
        :input_html => { :style => 'width: 420px;margin-top:10px;' } %>
        <%= f.input :content, :label => false, 
        :input_html => { :style => 'width: 420px', :rows => 12 } %>
        </div>
        </div>
        </div>
        
        </div>
        <div class="modal-footer form-actions" style="margin-top:-10px;margin-bottom:0px;">
        <a class="btn" data-dismiss="modal" href="#">Cancel</a>
        <%= f.button :submit, 'Save', :name => 'save_button' %>
        <%= f.button :submit %>  
        </div>
        <% end %>
        </div>
        