<div class='row-fluid'>
    <div class="span4" id="profile-image">
    <div class='smaller-profile-image'>
        <%= image_tag horse.mainimage.url(:medium) %>
    </div>
    </div>
    
    <div class="span2">
        <h4><%= horse.name %></h4>
        <p><b>Breed: </b><%= horse.breed %></p>
        <p><b>Gender: </b><%= horse.gender %></p>
        <p><b>Age: </b><%= horse.age %> yrs</p>
        <p><b>Height: </b><%= horse.height %> hh</p>
        <p><b>Price: </b><%= number_to_currency(horse.price.round, :precision => 0) %> </p>
    </div>
    
    <div class="span6">
        <br>
        <p><%= truncate(horse.text_description, :length => 590) %></p>
    </div>
    
</div>
