<script>
Stripe.setPublishableKey($('meta[name="stripe-key"]').attr('content'));
function onUpdateCard(id) {
    this.id = id;
    alert("/users/" + this.id + "/customers/1/edit");
    // disable the submit button to prevent repeated clicks
    $('.submit-button').attr("disabled", "disabled");
    var card_number = document.getElementById('card_number').value;
    var card_code = document.getElementById('card_code').value;
    var card_month = document.getElementById('card_month').value;
    var card_year = document.getElementById('card_year').value;
    
    var response = Stripe.createToken({
        number: $('#card_number').val(),
        cvc: $('#card_code').val(),
        exp_month: $('#card_month').val(),
        exp_year: $('#card_year').val()
    }, stripeResponseHandler);        
    // allow the form to submit with the default action
    return false;
  };

function stripeResponseHandler(status, response) {
    if (response.error) {
        $(".payment-errors").text(response.error.message);
        $(".submit-button").removeAttr("disabled");
    } else {
        var token = response['id'];
        var new_url = "/users/" + this.id + "/customers/new";
        var edit_url = "/users/" + this.id + "/customers/" + this.customer_id + "/edit";
        $.ajax({
            type:'GET',
            url:  edit_url,
            data: {'stripe_card_token': token}
        });
    }
    return false;
};

</script>

<div id="update-card" class="modal" style="display: none;">
<% Stripe.api_key = ENV['STRIPE_API_KEY'] %>
        <div class="modal-header">
          <a class="close" data-dismiss="modal">&#215;</a>
        <h2>Update credit card</h2>
        </div>

        <div class="modal-body">
        <% customer = Customer.where(:user_id => current_user.id).first %>
                <% stripe_customer = Stripe::Customer.retrieve(customer.stripe_customer_token) %>
                <% if stripe_customer.active_card.fingerprint.present? %>
                    <div class="center-align">Credit card has been provided. Do you want to edit?</div>
                <% end %>
                <div class="field">
                <%= label_tag :card_number, "Credit Card Number" %>
                <%= text_field_tag :card_number, nil, name: nil %>
                </div>
                <div class="field">
                <%= label_tag :card_code, "Security Code on Card (CVV)" %>
                <%= text_field_tag :card_code, nil, name: nil %>
                </div>
                <div class="field">
                <%= label_tag :card_month, "Card Expiration" %>
                <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
                <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
                </div>
            <div id="stripe_error">
                <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
            </div>
        </div>
  
        <div class="modal-footer">
        <div class="actions">
            <a class="btn" data-dismiss="modal" href="#">Cancel</a>
        <%= button_tag "Update", :class =>"btn submit-button", :type => 'button', :onclick => "onUpdateCard('#{current_user.id}');"%>

        </div>
        </div>

</div>
        