<div id="message-user-<%= @user.id %>" class="modal" style="display: none;">
    <% if user_signed_in? %>
    <div class="modal-header">
      <a class="close" data-dismiss="modal">&#215;</a>
      <h3>Message <%= @user.name %></h3>
    </div>
    <%= simple_form_for([current_user, current_user.messages.new]) do |f| %>
    <div class="modal-body">
        <%= f.error_notification %>

        <div class="form-inputs">
        <%= f.hidden_field :to_user_id, :value => @user.id %>
        <%= f.hidden_field :name, :value => @user.name %>
        <p> From: <%= current_user.name %> </p>
        <%= f.hidden_field :from_user_id, :value => current_user.id %>
        <%= f.input :title %>
        <%= f.hidden_field :thread_count, :value => 0 %>
        <%= f.label :content %>
        <%= f.text_area :content, :cols => 10, :rows => 10 %>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-actions">
        <a class="btn" data-dismiss="modal" href="#">Cancel</a>
        <%= f.button :submit, 'Save', :name => 'save_button' %>
        <%= f.button :submit %>  
        </div>
    </div>
    <% end %>
    <% else %>
    <div class="modal-header">
      <a class="close" data-dismiss="modal">&#215;</a>
      <div class='center-align'>
      <h4>This action is unavailable.</h4>
      </div>
    </div>
    <div class="modal-body">
        <div class='center-align'>
        <p> <%= link_to 'Sign up', new_user_registration_path %> or <%= link_to 'Login', new_user_session_path %> to message owner!   </p>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn" data-dismiss="modal" href="#">Close</a>
    </div>
    <% end %>    
      

</div>