<div class='white-background'>
<div class="row-fluid">
<div class="span12">
<h1>Listing horses</h1>
    <div class="fb-send" data-href="http://example.com" data-font="lucida grande"></div>
<a href="https://twitter.com/share" class="twitter-share-button" data-related="jasoncosta" data-lang="en" data-count="none">Tweet</a>

<table>
  <tr>
    <th>Name</th>
    <th>Breed</th>
    <th>Gender</th>
    <th>Age</th>
    <th>Height</th>
    <th>Text description</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @user = current_user %>
<% @user.horses.each do |horse| %>
  <tr>
    <td><%= horse.name %></td>
    <td><%= horse.breed %></td>
    <td><%= horse.gender %></td>
    <td><%= horse.age %> yrs</td> 
    <td><%= horse.height %> hh</td>
    <td><%= horse.format_description %></td>
    <td><%= horse.price %></td>
    <td><%= link_to 'Show', user_horse_path(@user, horse) %></td>
    <td><%= link_to 'Edit', edit_user_horse_path(@user, horse) %></td>
    <td><%= link_to 'Destroy', [horse.user, horse], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Horse', new_user_horse_path(@user) %>
<%= link_to 'Back', user_path(@user) %>

</div>
</div>
</div>