<!-- This is the user profile page. -->
<div class='white-background'>
<div class="row-fluid">
<div class="span4" id="profile-image">
<%= image_tag @user.avatar.url %>
</div>
<div class="span8">

<h1><%= @user.name %></h1>
<h2>Contact Information</h2>
<h3>Website: <%= @user.website if @user.website %></h3>
<h3>Email: <%= @user.phone_number if @user.phone_number %></h3>
<h3>Phone: <%= @user.email if @user.email %></h3>
</div>
</div>
</div>


<div class='white-background'>
<h1>Sales Barn</h1>
<% @user.horses.each do |horse| %>
<div class='row-fluid'>
<div class="span4" id="profile-image">
<%= image_tag '/images/avatars/:id/medium/:avatar_file_name' %>
</div>
<div class="span8">
    <p><%= horse.name %></p>
    <p><%= horse.breed %></p>
    <p><%= horse.gender %></p>
    <p><%= horse.age %></p>
    <p><%= horse.height %></p>
    <p><%= horse.text_description %></p>
    <p><%= horse.price %></p>
    <%= link_to 'View Details', user_horse_path(@user, horse) %>
</div>

</div>
<% end %>
</div>

