<!-- This is the user dashboard page. -->
<div class='white-background'>
<div class='center-align'>
<h4>Welcome <%= @user.name %>, to your private dashboard!</h4>
<h3>
This is the place for you to keep track of your listings and your favorite horses from our site. 
</h3>
<p> Are you the owner of a horse farm? 
<%= link_to 'Add New Farm', new_farm_path(), class: 'btn btn-mini' %>
<% @farms = Farm.where(:user_id => current_user.id) %>
<div class='divider-horizontal'></div>
<% @farms.each do |farm| %>
<%= farm.name %>
    <div class='horse-controls'>
    <%= link_to 'Show', farm_path(farm) %> | <%= link_to 'Edit', 
    edit_farm_path(farm) %> | <%= link_to 'Delete', [farm], method: 
    :delete, data: { confirm: 'Are you sure?' } %>
    </div>
<% end %>
</p>
</div>
</div>

<% if true %>
<%= render 'new_neighbors' %>
<% end %>
<% if false %>
<%= render 'new_neighborhood_horses' %>
<% end %>

<% if true %>
<%= render 'saved_horses' %>
<% end %>

<% if true %>
<%= render 'horse_listings' %>
<% end %>

<div class='white-background'>
<h1>Your Sales Barn</h1>
<div class='divider-horizontal'></div>
<% @horses.each do |horse| %>
<%= render 'sales_barn', :horse => horse %>
    <div class='horse-controls'>
    <%= link_to 'Show', user_horse_path(@user, horse) %> | <%= link_to 'Edit', 
    edit_user_horse_path(@user, horse) %> | <%= link_to 'Delete', [horse.user, horse], method: 
    :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <div class='divider-horizontal'></div>
<% end %>
</div>
<div class="search-paginate">
<%= will_paginate @horses, :renderer => BootstrapPagination::Rails %>
</div>