<!-- This is the user dashboard page. -->
<div class='white-background'>
<div class='center-align'>
<h4>Welcome <%= @user.name %>, to your private dashboard!</h4>
<h3>
This is the place for you to keep track of your listings and your favorite horses from our site. 
</h3>
</div>
</div>

<% if true %>
<div class='white-background'>
<h1>Your Saved Horses</h1>
<table class="table table-condensed">
  <thead>
  <tr>
    <th>Horse Name</th>
    <th>Breed</th>
    <th>Gender</th>
    <th>Age</th>
    <th>Height</th>
    <th>Price</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <% @user = current_user %>
  <% @user.saved_horses.each do |s| %>
  <tbody>
  <tr>
    <td><%= Horse.find(s.horse_id).name %></td>
    <td><%= Horse.find(s.horse_id).breed %></td>
    <td><%= Horse.find(s.horse_id).gender %></td>
    <td><%= Horse.find(s.horse_id).age %> yrs</td> 
    <td><%= Horse.find(s.horse_id).height %> hh</td>
    <td><%= number_to_currency(Horse.find(s.horse_id).price.round, :precision => 0) %></td>
    <td></td>
    <td><%= link_to 'Add Note', user_horse_path(User.find(s.user_id), Horse.find(s.horse_id)) %></td>
    <td><%= link_to 'View Listing', user_horse_path(User.find(Horse.find(s.horse_id).user_id), Horse.find(s.horse_id)) %></td>
    <td><%= link_to 'Remove from List', [s.user, s], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  </tbody>
<% end %>
</table>
</div>
<% end %>

<div class='white-background'>
<h1>Sales Barn</h1>
<%= link_to 'New Horse', new_user_horse_path(@user) %>

<% @user.horses.each do |horse| %>
<div class='row-fluid'>
<div class="span4" id="profile-image">
<div class='profile-image'>
<%= image_tag horse.avatar.url %>
</div>
</div>
<div class='span8'>
<h4><%= horse.name %></h4>
<p><%= number_to_currency(horse.price.round, :precision => 0) %></p>
<p>
<%= link_to 'Show', user_horse_path(@user, horse) %> | <%= link_to 'Edit', 
edit_user_horse_path(@user, horse) %> | <%= link_to 'Delete', [horse.user, horse], method: 
:delete, data: { confirm: 'Are you sure?' } %>
</p>
</div>
<div class="span3">
    <p><b>Breed: </b><%= horse.breed %></p>
    <p><b>Gender: </b><%= horse.gender %></p>
    <p><b>Age: </b><%= horse.age %> yrs</p>
    <p><b>Height: </b><%= horse.height %> hh</p>
</div>
<div class="span5">
    <p><%= horse.text_description %></p>
</div>
<div class='divider-horizontal'></div>
</div>
<% end %>
</div>