<!-- This is the code for the carousel on the homepage --> 

<!-- This is the script -carousel runs every few seconds and pauses on hover -->
<script src="js/bootstrap.min.js"></script>
<script>
  $(document).ready(function(){
    $('.carousel').carousel({
      interval: 7000,
      pause: "hover"
    });
  });
</script>

<!-- Carousel -->
<div class="homecarousel">
<div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="carousel-image">
                <%= image_tag "/images/carousel.jpg"%>
                    <div class="carousel-caption">
                    <div class='span11'>
                    <p>We have the most beautiful horse ads with an amazing interface that 
                    is simple and straightforward to use! We love horses and are dedicated
                    to seeing each of the horses listed here find the home that is perfect 
                    for them. Sign up today to check out our services!</p>
                    </div>
                    </div>
                </div>
                <div class='span6'>
                    <div class='text-box'>
                    <h1>Imagine Your Horse Listed Here!</h1>
                    </div>
                </div>
            </div>
        <!-- Select all horses at random that have been activated that have an image to display -->
        <% Horse.where(:active => true).all(:order => 'Random()').each do |horse| %>
        <% if horse.mainimage.present?%>
            <div class="item">
                <div class="carousel-image">
                <%= image_tag horse.mainimage.url(:large), :class => "img-polaroid"%>
                    <div class="carousel-caption">
                    <div class='span11'>
                    <!-- Show a truncated version of the horse description -->
                    <p><%= truncate(horse.text_description, :length => 250) %><%=link_to 'view details', user_horse_path(User.find(horse.user_id), horse) %></p>
                    </div>
                    </div>
                </div>
                <div class='span6'>
                    <!-- Link to horse profile -->
                    <div class='text-box'>
                    <h1><%=link_to horse.name, user_horse_path(User.find(horse.user_id), horse) %></h1>
                    </div>
                    <!-- Display details about horse -->
                    <div class='details-section'>
                    <h4><%= horse.gender %></h4>
                    <h4><%= horse.age %> years</h4>
                    <h4><%= horse.height %> hands</h4>
                    <h4><%= number_to_currency(horse.price.round, :precision => 0) %></h4>
                    </div>
                </div>
            </div>
        <% end %>
        <% end %>
    </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
</div>