<!-- This is the homepage! -->

<!-- This renders the home carousel that shows horse images from the site. -->
<%= render 'carousel' %>
<div class="start-content">
<h1 style="text-align:center;"> Welcome to MyEquiCentre </h1>

<%= render 'layouts/sub_navigation' %>

<div class="bottom-shadow">
<div class="left"></div>
<div class="right"></div>
</div>
</div>

<!-- This is the page content-->
<div class="center-align">
<h3>The most beautiful and elegant site available for selling and buying horses online.</h3>

<!-- For users that are logged in --> 
<% if user_signed_in? %>
    <h3>Go to your dashboard to manage your account or begin 
    <%= link_to 'browsing our horses', '/horses/search' %>...</h3>
<!-- For users that aren't logged in --> 
<% else %>
    <h3>Browse the site as you please, or sign up for a free account to post your own horses.</h3>
    <%= link_to "Sign Up (it's free)", new_user_registration_path, :class => "btn btn-primary
    btn-large" %>
    
    <!-- The newsletter signup form for the EquiCentre mailing list --> 
<!-- The newsletter signup form for the EquiCentre mailing list --> 
<!-- Begin MailChimp Signup Form -->
<div class="center-align">
<div id="mc_embed_signup">
<form action="http://daedalusinnovation.us5.list-manage1.com/subscribe/post?u=6b599f220526ed76b813b95c9&amp;id=c5917e2e5d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate horizontal" target="_blank" novalidate>
	<h4>Subscribe to our mailing list: </h4>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
	<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-mini btn-info">
</form>
</div>
</div>
<!-- End mc_embed_signup -->
<%end%>
</div>

<% new_users = User.where("avatar_file_name IS NOT NULL") %>
<% new_users = new_users.sort_by &:created_at %>
<% new_users = new_users.reverse %>
<% if new_users.first.present? %>
</br>


<div class="top-shadow">
<div class="left"></div>
<div class="right"></div>
</div>


<div class="shadow-content">
<h4 style="text-align:center;">Welcome our newest users!</h4>
<div class="row" style="margin: 0 auto;">

<% i = 1 %>
<% new_users.each do |user| %>
<% if i <= 4 %>
 <div class="span1" style="width:100px;height:100px;">
 <%= image_tag user.avatar.url(:thumb), :size => "100x100", :class => "img-circle" %>
 <p style="text-align:center;margin-top:-20px;"><%= link_to 'view more', user_horses_path(user) %></p>
</div>
 <div class="span2" style="width:160px;"> 
 <b><%= user.first_name %> <%= user.last_name[0] %>.</b>
 <% if user.city.present? && user.state.present? %>
 <p style="margin:0px;"><%= truncate(user.bio, :length => 74) %></p>
 <p style="margin:0px;"><%= user.city%>, <%= user.state%></p>
 <% elsif user.state.present? %>
 <p style="margin:0px;"><%= truncate(user.bio, :length => 74) %></p> 
 <p style="margin:0px;"><%= user.state%></p>
 <% else %>
 <p style="margin:0px;"><%= truncate(user.bio, :length => 99) %></p> 
 <% end %>
</div>
<div class="divider-vertical" style="float:left;margin:0px;height:120px;"></div>
<% i = i+1; %>
<% end %>
<% end %>
</div>
</div>

<% end %>