<script src="js/bootstrap.min.js"></script>
<script>
  $(document).ready(function(){
    $('.carousel').carousel({
      interval: 7000
    });
    //$('.item').eq(Math.floor((Math.random() * $('.item').length))).addClass("active");
  });
</script>

<body>
  <div class="container">
  
  <div class="homecarousel">
    <div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="item active">
            <div class='span12'>
                <div class="carousel-image">
                <%= image_tag "/images/carousel.jpg"%>
                    <div class="carousel-caption">
                    <div class='span11'>
                    <p>We have the most beautiful horse ads with an amazing interface that 
                    is simple and straightforward to use! We love horses and are dedicated
                    to seeing each of the horses listed here find the home that is perfect 
                    for them. Sign up today to check out our services!</p>
                    </div>
                    </div>
                </div>
                <div class='span6'>
                    <div class='text-box'>
                    <h1>Imagine Your Horse Listed Here!</h1>
                    </div>
                </div>
            </div>
            </div>
        <% Horse.all(:order => 'Random()').each do |horse| %>
        <% if horse.avatar.present? && horse.sale_status == "active" %>
            <div class="item">
                <div class='span12'>
                <div class="carousel-image">
                <%= image_tag horse.avatar.url(:large)%>
                    <div class="carousel-caption">
                    <div class='span11'>
                    <p><%= truncate(horse.text_description, :length => 250) %><%=link_to 'view details', user_horse_path(User.find(horse.user_id), horse) %></p>
                    </div>
                    </div>
                </div>
                <div class='span6'>
                    <div class='text-box'>
                    <h1><%=link_to horse.name, user_horse_path(User.find(horse.user_id), horse) %></h1>
                    </div>
                    <div class='details-section'>
                    <h4><%= horse.gender %></h4>
                    <h4><%= horse.age %> years</h4>
                    <h4><%= horse.height %> hands</h4>
                    <h4><%= number_to_currency(horse.price.round, :precision => 0) %></h4>
                    </div>
                </div>
            </div>
            </div>
        <% end %>
        <% end %>
    </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
</div>

<div class="white-background">
<h1> Welcome to MyEquiCentre </h1>

<div class='center-align'>
<h3>
The most beautiful and elegant site available for selling and buying horses online.
</h3>

<% if user_signed_in? %>
<div class='center-align'>
<h3>
Go to your dashboard to manage your account or begin <%= link_to 'browsing our horses', '/horses/search' %>...
</h3>
</div>
 <% else %>
<h3>
Browse the site as you please, or sign up for a free account to post your own horses.</h3>
<div class="join">
    <%= link_to "Sign Up (it's free)", new_user_registration_path, :class => "btn-large btn-primary btn" %>

</div>
<%end%>
</div>

</div>

</div>
</body>