<script src="js/bootstrap.min.js"></script>
<script>
  $(document).ready(function(){
    $('.carousel').carousel({
      interval: 100000
    });
    $('.item').eq(Math.floor((Math.random() * $('.item').length))).addClass("active");
  });
</script>

<body>
  <div class="container">
  
  <div class="homecarousel">
    <div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
        <div class="carousel-inner">
        <% @users.each do |user| %>
        <% user.horses.each do |horse| %>
            <div class="item">
                <div class='span12'>
                <div class="carousel-image">
                <%= image_tag("/images/carousel.jpg", :alt => "")%>
                    <div class="carousel-caption">
                    <div class='span11'>
                    <p><%= truncate(horse.text_description, :length => 140) %></p>
                    <p><%=link_to 'view details', user_horse_path(user, horse) %></p>
                    </div>
                    </div>
                </div>
                <div class='span6'>
                    <div class='text-box'>
                    <h1><%=link_to horse.name, user_horse_path(user, horse) %></h1>
                    </div>
                    <div class='details-section'>
                    <h4><%= horse.gender %></h4>
                    <h4><%= horse.age %> years</h4>
                    <h4><%= horse.height %> hands</h4>
                    <h4><%= number_to_currency(horse.price.round, :precision => 0) %></h4>
                    </div>
                </div>
            </div>
            </div>
        <% end %>
        <% end %>
    </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
</div>

<div class="white-background">
<h1> Welcome to MyEquiCentre </h1>

<h3>
The most beautiful and elegant site for searching horses to lease and buy!
</h3>

<% if user_signed_in? %>
<h3>
Feel free to search this site for your ideal horse by breed, age, height and location. 
Go to your dashboard to manage your account. Use this site to create beautiful
classified ads. As we grows we hope to build the perfect personal site for
managing all of your equestrian needs. Please contact us with comments and suggestions.
We would love to hear more about your vision for this site!
</h3>
 <% else %>
<h3>
Browse the site as you please, or sign up for a free account to post your own horses.</h3>
<div class="join">
    <%= link_to "Sign Up (it's free)", new_user_registration_path, :class => "btn-large btn" %>

</div>
<%end%>
</div>

</div>
</body>