<div class="white-background">
<h1> Contact Us </h1>
<h3 style="padding-bottom:0px;font-size:16px;line-height:20px;">
MyEquiCentre, Inc is located out of Cambridge, MA.
You can contact our staff at <%= mail_to "info@myequicentre.com" %>
</h3>

<h4> Questions about our services? </h4>
<h3 style="padding-bottom:0px;font-size:16px;line-height:20px;">
If you would like to know more about our site please check out the 
<%= link_to 'Features', "/pages/info" %> page. 
</h3>

<h3 style="padding-bottom:0px;font-size:16px;line-height:20px;">
If you are already familiar with our site please consider taking a moment
to drop by our <%= link_to 'Blog', "http://blog.myequicentre.com/" %>
, like us on <%= link_to 'Facebook', "http://www.facebook.com/pages/EquiCentre/284495924975888?" %>
, or reach out via <%= link_to 'Twitter', "https://twitter.com/myequicentre" %>. 
</h3>

<h4>General questions or feedback?</h4>
<h3 style="padding-bottom:0px;font-size:16px;line-height:20px;">
Please visit our support center for help and frequently asked questions. 
If you can't find your answers there, you may use our live chat feature 
or email the Community Support Team: <%= mail_to "support@myequicentre.com" %>
</h3>

<h4>Media or Press inquiry?</h4>
<h3 style="padding-bottom:0px;font-size:16px;line-height:20px;">
Please direct all press inquiries and interview requests to our press department: 
<%= mail_to "press@myequicentre.com" %>
</h3>
</div>
