<div class="faq">
<div class="span11 offset1" style="margin-top:50px;">
<div class='center-align'>
<h1> Something go wrong? </h1>
<h3>Contact <%= mail_to "support@myequicentre.com" %> to get in touch. </h3>
</div>
</div>


<div class="top-shadow">
<div class="left"></div>
<div class="right"></div>
</div>
<div class="general-content" style="margin-left:auto;margin-right:auto;">
<div class="divider-horizontal" style="margin: 0px 40px 10px 0px;"></div>
<h1 style="text-align:center;"> FAQ Section</h1>
<div class="divider-horizontal" style="margin: 0px 40px 10px 0px;"></div>
<div class="span11 offset1">
    <h4>General Questions </h4>
    <%= render 'general_questions' %>

    <h4>Activating Listings </h4>
    <%= render 'activation_questions' %>
    
    <h4> Marketing your Listings </h4>
    <%= render 'marketing_questions' %>

    <h4>Questions about Billing </h4>
    <%= render 'billing_questions' %>

<!--
    <h4>Profiles and User Information </h4>
    <%= render 'user_info_questions' %>
-->
    
    <h4>Communicating with Users </h4>
    <%= render 'communication_questions' %>
</div>
</div>
</div>