<div class="faq">
<div class="white-background">
<h1> Something go wrong? </h1>
<h3>
Please feel free to contact us with your questions and concerns. We will get in contact with 
you regarding any updates. In the meantime check out our FAQ section and suppport documentation.
</h3>
<div class='center-align'>
<h3>Contact <%= mail_to "support@myequicentre.com" %> to get in touch. </h3>
</div>
</div>

<div class="white-background">
<h1> FAQ Section</h1>

    <h4>General Questions </h4>
    <%= render 'general_questions' %>

    <h4>Activating Listings </h4>
    <%= render 'activation_questions' %>
    
    <h4> Marketing your Listings </h4>
    <%= render 'marketing_questions' %>

    <h4>Questions about Billing </h4>
    <%= render 'billing_questions' %>

<!--
    <h4>Profiles and User Information </h4>
    <%= render 'user_info_questions' %>
-->
    
    <h4>Communicating with Users </h4>
    <%= render 'communication_questions' %>
</div>
</div>
