
<div class='how-it-works'>
<div class='span12'>

<div class='span7'>
<div class='text-box'>
<h1>Learn about Us</h1>
</div>
</div>

<!--
<div class='span6 offset6'>
<div class='caption'>
<div class='text-box'>
    <h4>Our Promise</h4>
    <p>
    There isn't a more beautiful, professional site out there to post your horse classified
    ads.
    </p>
    <p>
    See for yourself - 
    <%= link_to 'browse our site', '/horses/search?utf8=✓&search=&commit=Search' %>
    </p>
    <p>
    Or join right now!
    </p>
    <div class='join'>
    <a href="/" class="btn-large btn-primary"> Sign Up (it's free*)</a>
    </div>
</div>
</div>
</div>
-->

</div>
</div>

<div class='row'>
<div class='span12'>
<div class="white-background">
<h1>What We Offer</h1>
<div class="divider-horizontal"></div>
<%= image_tag("/images/group_horse_banner.png", :style => "width:900px;", :alt => "")%>
<div class="divider-horizontal"></div>

<div class="span6">
<h4>Beautiful professional affordable ads</h4>
<h3>
We want you to be able to represent your horse in the most professional fashion possible.
We allow you to put multiple images up at no additional cost. Ads are a flat fee of $10 a 
month with costs prorated if you're horse sells faster than expected. Inquire about getting 
your horse in the slideshow on the homepage and check out blog for posts on how to best 
represent your horse through photographs and video.
</h3>
</div>
<div class="span4">
<p><%= image_tag("/images/ad_screen_shot.png", :alt => "")%></p>
</div>
<div class="divider-horizontal"></div>
<div class="span3">
</br>
<div class="pill">Warmblood 
<a class="close" style="display:inline;top:-22px;">&#215;</a>
</div>
<div class="pill">Arabian 
<a class="close" style="display:inline;top:-22px;">&#215;</a>
</div>
<div class="pill">Thoroughbred 
<a class="close" style="display:inline;top:-22px;">&#215;</a>
</div>
<div class="pill">Friesan 
<a class="close" style="display:inline;top:-22px;">&#215;</a>
</div>
<div class="pill">Andalusian 
<a class="close" style="display:inline;top:-22px;">&#215;</a>
</div>

<!--
<ul class="nav nav-tabs">
  <li><a href="#">List View</a></li>
  <li><a href="#" class="active">Map View</a></li>
</ul>
-->
</div>
<div class="span7">
<h4>Simple yet comprehensive search tools</h4>
<h3>
We provide a simple intuitive interface for search for horses. Multiple genders and breeds 
are added as you type. Choose to view the results in map view to see where you are 
in relation to the horses. Try it out for yourself, start <%= link_to 'browsing our horses ', '/horses/search' %>...
</h3>
</div>
<div class="divider-horizontal"></div>
<div class="span7">
<h4>Save your favorite horses</h4>
<h3> 
As you browse through our site you can save your favorite horses so that you can easily find
them from your dashboard in the future. Save notes to remind you why they caught your eye. 
</h3>
</div>
<div class="span3">
</br>
<%= image_tag("/images/bookmark.png", :style => "width:100px;margin-left:65px;", :alt => "")%>
</div>
<div class="divider-horizontal"></div>
<div class="span3">
<%= image_tag("/images/facebook_logo.jpg", :style => "width:100px;margin-left:65px;margin-top:55px;", :alt => "")%>

</div>
<div class="span7">
<h4>Leave testimonials and share</h4>
<h3>
If you're in communication with the horse owner then it means we trust your opinion when
it comes to leaving a testimonial for the next person to view the horse. So if you're a 
friend, neighbor or just visited the horse leave a note for interested viewers. If you 
know what horses you like we make it easy for you to share horses via Facebook, 
Twitter and even Pinterest.
</div>
<div class="divider-horizontal"></div>
<div class="span6">
<h4>Personal message center</h4>
<h3>
You will get your own personal message center for managing conversations with users on our site.
Contact horse owners, get in touch with your neighbors, have conversations with friends. We're all
about communication without having to share your email address or phone number. 
</h3>
</div>
<div class="span4">
<p><%= image_tag("/images/message_center.png", :alt => "")%></p>
</div>
<div class="divider-horizontal"></div>
<div class="span4">
<p><%= image_tag("/images/horse_community.jpg", :style => "margin-top:15px;", :alt => "")%></p>
</div>
<div class="span6">
<h4>Connect to your community!</h4>
<h3> 
Our site is about more than just listings, it's about community. We'll let you know when new users in 
your area have joined onto the site. Go out and meet them! Start discussions, make 
friends and build community. Together we can make MyEquiCentre the place to go to stay in 
touch with your barn buddies, you know, when it's too cold to trek out to the barn!
</h3>
</div>
<div class="divider-horizontal"></div>
</br>
<h1>Offerings Down the Road</h1>
<div class="divider-horizontal"></div>
<div class="span6">
<h4>Best ads rise to the top</h4>
<h3> 
We don't allow horse owners to pay for their listings to get more visibility on the site 
(with exception of the slideshow on the homepage). Instead we subtly encourage owner 
transparency by giving preferance to horses that have a detailed pedigree and competition 
record filled out thus making sure that you get in-depth knowledge on the horses you find.
</h3>
</div>
<div class="span4">
<p><%= image_tag("/images/competition_horse.png", :alt => "")%></p>
</div>
<div class="divider-horizontal"></div>
<div class="span4">
</br>
<p><%= image_tag("/images/survey_image.png", :alt => "", :style => "margin-left: 50px;")%></p>
</div>
<div class="span6">
<h4>Find serious inquirers</h4>
<h3>
As a horse owner you need to balance attracting attention and time spent.
We enable you to create custom surveys so that you can identify serious inquirers
before sharing your contact information.
</h3>
</div>
<div class="divider-horizontal"></div>
<div class="span6">
<h4>MyEquiCentre iPhone App</h4>
<h3>
We envision down the road having an iphone app that gives your alerts about new users and 
horses being listed that are in your neighborhood. You'll never even have to go online to 
conduct your horse search - the best horses will come to you! 
</h3>
</div>
<div class="span4">
</br>
<p><%= image_tag("/images/myequicentre_iphone.png", :alt => "")%></p>
</div>
<div class="divider-horizontal"></div>

</div>
</div>
</div>