<div class="white-background">
<div class='row' id='overview'>
<h1>Interested in joining the team?</h1>
<p>
At MyEquiCentre we are looking for young passionate and talented people 
with fresh ideas and a desire to disrupt to get involved in our
startup as it gets off the ground. We believe that the equestrian industry has immense potential for innovation and 
we would love to have you start on this journey with us. We are accepting applicants on 
an on-going basis. 
<!-- Fame and fortune may await on the other side! -->
</p>
<p id='benefits'> These are just some of the benefits you'd enjoy as part of our team: </p>
</div>

<%= render 'benefits_list' %>

<div class='row-fluid'>
</br>
<div class='divider-horizontal'></div>
<h1>Job Descriptions</h1>
<div class='center-align'>
The following descriptions are for positions that are available as of Jan 1st, 2013
</div>
</div>

<%= render 'software_engineer_job' %>
<%= render 'uiux_designer_job' %>

<div class='row' id='internships'>
<h1>Internships</h1>
</div>

<%= render 'marketing_job' %>
<%= render 'sales_job' %>

</div>

<div class='span12'>
<div class='jobs-panel'>
<div class='nav-panel'>
<h1>Jobs@EquiCentre</h1>
<div class='row'>
<div class='span6'>
<div class='job-link'>
<a href='#engineer'>Software Engineer</a>
</div>
</div>

<div class='span6'>
<div class='job-link'>
<a href='#designer'>UI/UX Designer</a>
</div>
</div>
</div>

<div class='row'>
<div class='span6'>
<div class='job-link'>
<a href='#marketing-intern'>Marketing Intern</a>
</div>
</div>

<div class='span6'>
<div class='job-link'>
<a href='#sales-intern'>Sales Intern</a>
</div>
</div>
</div>

</div>
</div>
</div>
