<div class='press'>
<div class='row'>
<div class='span3 featured-in'>
We hope one day to feature in: 
</div>
</div>
<div class='row'>
<div class='span3'>
<%= image_tag("/images/press/logos/nyt.png", :alt => "New York Times")%></li>
</div>
<div class='span1'>
<%= image_tag("/images/press/logos/cnn-logo.png", :alt => "CNN")%>
</div>
<div class='span3'>
<%= image_tag("/images/press/logos/the-wall-street-journal.png", :alt => "The Wall Street Journal")%>
</div>
<div class='span2'>
<%= image_tag("/images/press/logos/cbs.png", :alt => "CBS News")%>
</div>
<div class='span2'>
<%= image_tag("/images/press/logos/fast-company-logo.png", :alt => "Fast Company")%>
</div>
</div>
</div>