<script>
Stripe.setPublishableKey($('meta[name="stripe-key"]').attr('content'));
$(document).ready(function() {
  $("#new_subscription").submit(function(event) {
    // disable the submit button to prevent repeated clicks
    $('.submit-button').attr("disabled", "disabled");
    var card_number = document.getElementById('card_number').value;
    var card_code = document.getElementById('card_code').value;
    var card_month = document.getElementById('card_month').value;
    var card_year = document.getElementById('card_year').value;
    
    var end = card_number.length
    $("#new_subscription").append("<input type='hidden' name='last_4_digits' value='" + card_number[end-4,end] + "'/>");
    
    Stripe.createToken({
        number: $('#card_number').val(),
        cvc: $('#card_code').val(),
        exp_month: $('#card_month').val(),
        exp_year: $('#card_year').val()
    }, stripeResponseHandler);


    // prevent the form from submitting with the default action
    return false;
  });
});

function stripeResponseHandler(status, response) {
    if (response.error) {
        // show the errors on the form
        $(".payment-errors").text(response.error.message);
        $(".submit-button").removeAttr("disabled");
    } else {
        var token = response['id'];
        // insert the token into the form so it gets submitted to the server
        $("#new_subscription").append("<input type='hidden' name='stripe_card_token' value='" + token + "'/>");
        //document.getElementById('subscription_stripe_card_token').value = response['id']
        // and submit
        $('#new_subscription').get(0).submit();
        //alert(token);
        
    }
    return false;
}

</script>

<div id="activate-horselisting-<%= horse.id %>" class="modal" style="display: none;">
    <% Stripe.api_key = "sk_test_I4Ci5lTRq3QtUQsejxMZBk71"%>
        <div class="modal-header">
          <a class="close" data-dismiss="modal">&#215;</a>
        <h2>Activate Listing for <%= horse.name %></h2>
        <div class="center-align"><p>Costs <strong>$9.99</strong> per month per listing!</p></div>
        </div>

    <div class="modal-body">
    <% @user = User.find(params[:id]) %>
    <% @subscription = horse.subscriptions.new %>
    <% @subscription.user_id = params[:id] %>
    <%= simple_form_for([@user, @subscription]) do |f| %>
    <% if @subscription.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>
      <ul>
      <% @subscription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.has_role? :admin %>
  <%= f.hidden_field :plan_id, :value => "1"%>
  <% else %>
  <%= f.hidden_field :plan_id, :value => "1000"%>
  <% end %>
  <%= f.hidden_field :user_id, :value => params[:id] %>
  <%= f.hidden_field :horse_id, :value => horse.id %>
  <%= f.hidden_field :email, :value => current_user.email %>
  
  <% customer = current_user.customer %>
  <% if customer.present? %>
  <% stripe_customer = Stripe::Customer.retrieve(customer.stripe_customer_token) %>
  <% if stripe_customer.active_card.fingerprint.present? %>
    <div class="center-align">Credit card has been provided.</div>
  <% end %>
  <% else %>
    <div class="field">
      <%= label_tag :card_number, "Credit Card Number" %>
      <%= text_field_tag :card_number, nil, name: nil %>
    </div>
    <div class="field">
      <%= label_tag :card_code, "Security Code on Card (CVV)" %>
      <%= text_field_tag :card_code, nil, name: nil %>
    </div>
    <div class="field">
      <%= label_tag :card_month, "Card Expiration" %>
      <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
      <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
    </div>
  <% end %>
  <div id="stripe_error">
    <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
  </div>
    
    </div>
  
  <div class="modal-footer">
  <div class="actions">
    <a class="btn" data-dismiss="modal" href="#">Cancel</a>
    <%= f.submit "Subscribe", :class =>"btn submit-button"%>
  </div>
  </div>
<% end %>

</div>
        