<div class='press'>
<div class='row'>
<div class='span3 featured-in'>
We hope one day to feature in: 
</div>
</div>
<div class='row'>
<div class='span3'>
<%= image_tag("/images/press/logos/nyt.png", :alt => "New York Times")%></li>
<!-- 
<a href="/press" target="_blank"><img alt="New York Times" src="/images/press/logos/nyt.png" style="padding-left: 0px;" /></a>
-->
</div>
<div class='span1'>
<%= image_tag("/images/press/logos/cnn-logo.png", :alt => "CNN")%>
<!-- 
<a href="/press" target="_blank"><img alt="CNN" src="/images/press/logos/cnn-logo.png" style="padding-left: 30px;" /></a>
-->
</div>
<div class='span3'>
<%= image_tag("/images/press/logos/the-wall-street-journal.png", :alt => "The Wall Street Journal")%>
<!-- 
<a href="/press" target="_blank"><img alt="The Wall Street Journal" src="/images/press/logos/the-wall-street-journal.png" style="height: 18px;" /></a>
-->
</div>
<div class='span2'>
<%= image_tag("/images/press/logos/cbs.png", :alt => "CBS News")%>
<!-- 
<a href="/press" target="_blank"><img alt="CBS News" src="/images/press/logos/cbs.png" style="height: 25px;" /></a>
-->
</div>
<div class='span2'>
<%= image_tag("/images/press/logos/fast-company-logo.png", :alt => "Fast Company")%>
<!-- 
<a href="/press" target="_blank"><img alt="Fast Company" src="/images/press/logos/fast-company-logo.png" style="height: 25px;" /></a>
-->
</div>
</div>
</div>

</br></br>

<div class='row links'>

<div class='span2 '> <!-- offset1 -->
<b>Info</b>
<ul>
<li><%= link_to 'About', '/static_pages/about' %></li>
<li><%= link_to 'Press', '/static_pages/press' %></li>
<li><%= link_to 'Help', "http://support.mysite.com/" %></li>
<li><%= link_to 'Contact', '/static_pages/contact' %></li>
</ul>
</div>

<div class='span2'>
<b>Connect</b>
<ul>
<li><%= link_to 'Meet the Team', '/static_pages/team'  %></li>
<li><%= link_to 'Our Stories', '/static_pages/stories' %></li>
<li><%= link_to 'Read Our Blog', "http://blog.mysite.com/" %></li>
<li><%= link_to 'Jobs', '/static_pages/jobs' %></li>
</ul>
</div>

<div class='span2'>
<b>Find us</b>
<ul>
<li><%= link_to 'Twitter', "http://twitter.com" %></li>
<li><%= link_to 'Facebook', "http://facebook.com" %></li>
</ul>
</div>

<div class='span2'>
<b>Policies</b>
<ul>
<li><%= link_to 'Guidelines', '/static_pages/guidelines' %></li>
<li><%= link_to 'Terms of Use', '/static_pages/terms' %></li>
<li><%= link_to 'Privacy Policy', '/static_pages/privacy' %></li>
</ul>
</div>


<div class='span3'>
<b>Discover</b>
<ul>
<li><a href="http://www.mysite.com/experiences/search/san%20francisco">Things to do in San Francisco</a></li>
<li><a href="http://www.mysite.com/experiences/search/new%20york%20city">Things to do in New York</a></li>
<li><a href="http://www.mysite.com/experiences/search/paris">Things to do in Paris</a></li>
<li><a href="http://www.mysite.com/experiences/search/barcelona">Things to do in Barcelona</a></li>
<li><a href="http://www.mysite.com/experiences/search/istanbul">Things to do in Istanbul</a></li>
<li><a href="http://www.mysite.com/experiences/search/london">Things to do in London</a></li>
<li><a href="http://www.mysite.com/experiences/search/los%20angeles">Things to do in Los Angeles</a></li>
<li><a href="http://www.mysite.com/experiences/search/berlin">Things to do in Berlin</a></li>
<li><a href="http://www.mysite.com/experiences/search/buenos%20aires">Things to do in Buenos Aires</a></li>
</ul>
</div>

</div>

<div class='span3'>
&copy 2012 MyRailsApp, Inc.
</div>