<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "MyEquiCentre" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "MyEquiCentre" %>">
    <META NAME="KEYWORDS" CONTENT="myequicentre classifieds, myequicentre, MyEquiCentre.com, 
    equestrian, equine, horse, horses, horse classifieds, horses for sale, craigslist horses, 
    sell horses, buy horses, lease horses, breed horses, for sale horse, equine sale, a horse
    for sale, stallion for sale, horses for sale in,
    show jumping, jumping, hunter, halter horse, english riding, dressage, 
    warmblood, sporthorse, grand prix, competition horse, 
    riding, horseback riding, 4-H, 4H, barn, boarding, horse boarding,
    gelding, stallion, stud, mare, broodmare, foal, colt, filly">

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag 'gmaps4rails' %>
    <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
    <%= csrf_meta_tags %>
    <% if Rails.env.development? %>
    <% Stripe.api_key %>
    <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
    <% else %>
    <% Stripe.api_key = ENV['STRIPE_API_KEY'] %>
    <%= tag :meta, :name => "stripe-key", :content => ENV['STRIPE_PUBLIC_KEY'] %>
    <% end %>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <%= yield(:head) %>
  </head>
  
  <body class="<%= controller_name %> <%= action_name %>">

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </div>
    </div>
    
<noscript>
<div class='alert'>
<p>
You will need Javascript enabled in your web browser.  If you need
help, read
<a href="http://www.google.com/support/bin/answer.py?answer=23852" target="_blank">How to enable Javascript in your browser.
</a></p>
<p>
Once you&rsquo;ve enabled Javascript you can
<a href=''>try loading this page again.</a>
</p>
</div>
</noscript>

<%= analytics_init if Rails.env.production? %>

<script>
$('.dropdown-toggle').dropdown()
</script>

    <div id="main" role="main">
    <% if !current_page?(root_path) %>
    <%end%>
    
      <div class="container">
        <div class="content">
        
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer>
            <%= render 'layouts/footer' %>
            <%= yield :scripts %>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
  
</html>