<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "MyEquiCentre" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "MyEquiCentre" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
    <%= csrf_meta_tags %>
    <%= tag :meta, :name => "stripe-key", :content => "pk_test_mYKdLY06r0ydfyWApf5lQiyq" %>
    <!--
    <%= tag :meta, :name => "stripe-key", :content => ENV['STRIPE_PUBLIC_KEY'] %>
    -->
    <% Stripe.api_key = ENV['STRIPE_API_KEY']%>
  <%= yield(:head) %>
  </head>
  
  <body class="<%= controller_name %> <%= action_name %>">

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </div>
    </div>
    
<noscript>
<div class='alert'>
<p>
You will need Javascript enabled in your web browser.  If you need
help, read
<a href="http://www.google.com/support/bin/answer.py?answer=23852" target="_blank">How to enable Javascript in your browser.
</a></p>
<p>
Once you&rsquo;ve enabled Javascript you can
<a href=''>try loading this page again.</a>
</p>
</div>
</noscript>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31693337-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>  
<script>
$('.dropdown-toggle').dropdown()
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id))
{js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";
fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js">
</script>

    <div id="main" role="main">
    <% if !current_page?(root_path) %>
    <%end%>
    
      <div class="container">
        <div class="content">
        
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer>
            <%= render 'layouts/footer' %>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
  
</html>